{% extends "static/layout.html" %}

{% block title %}Add{% endblock %}

{% block body %}
<div class="page-header">
    <center>
    <h1>Agregar Tipo de Atributo</h1>
    <p><img src="/img/link.png"/><a href="{{ url_for('administracion') }}">Modulo Administracion</a></p>
    </center>
</div>

<h3>*PASO 1: Rellenar los datos del Atributo</h3>
    <form enctype="multipart/form-data" method="post" action="">
       
      <dl>
        {{ form.csrf }}
            {{ form.nombre.label(style="float: left; width: 100px;") }}
            {{ form.nombre(class="form-input") }}
            {% for error in form.nombre.errors %} {{ error }} {% endfor %}
            <br />
            <div style="float:left;width: 100px;">
            <LABEL for="tipoDato">Tipo de Dato </LABEL>
            </div>
            <select name="tipoDeDato" onchange="chequea(this,this.form.file, this.form.detalle)" id="tipoDato">
                  <option selected value="numerico">Numerico</option>
                  <option value="texto">Texto</option>
                  <option value="booleano">Booleano</option>
                  <option value="fecha">Fecha</option>
                  <option value="archivo">Archivo</option>
            </select>
            <br />
            <div style="float:left;width: 100px;">
            <LABEL for="filed"> Elija un archivo </LABEL>
            </div>
            <input type="file" name="file" id="filed" disabled="true" value="" required ="true">
            <br />
            <div style="float:left;width: 100px;">
            <LABEL for="detalles">Detalle</LABEL>
            </div>
            <INPUT type="text" name="detalle"  class="form-input" id="detalles">
            <br />
            {{ form.descripcion.label(style="float: left; width: 100px;") }}
            {{form.descripcion(class="textarea") }}
            {% for error in form.descripcion.errors %} {{ error }} {% endfor %}
      </dl>
<script type="text/javascript">
function chequea(campo,boton, campo2){
	switch (campo.value) { 
   	case "archivo":
                boton.disabled=false;
                campo2.disabled=true;
                campo2.value=0;
                return campo2;
                break;
        case "numerico":
        case "texto":
                boton.disabled=true;
                boton.value=""
                campo2.disabled=false;
                return boton;
                break;
        case "fecha":
        case "booleano":
                boton.disabled=true;
                boton.value=""
		campo2.disabled=true;
                campo2.value=0;
                return boton, campo2;
                break;
        }
}
</script>
      <p><input class="button" type="submit" value="Crear">
         <input class="button" type="button" value="Cancelar" onclick="location.href = '/listAtrib'"> <p>
        
 </form>
  
{% endblock %}