{% extends "static/layout.html" %}

{% block title %}Add Item{% endblock %}

{% block body %}
    <h1>Agregar Item</h1>
    <form method="post" action="">
      <dl>
        {{ form.csrf }}
            {{ form.nombre.label(style="float: left; width: 100px;") }}
            {{form.nombre(class="form-input", style="width: 200px") }}
            {% for error in form.nombre.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.version.label(style="float: left; width: 100px;") }}
            {{form.version(class="form-input", style="width: 200px") }}
            {% for error in form.version.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.complejidad.label(style="float: left; width: 100px;") }}
            {{form.complejidad(class="form-input", style="width: 200px") }}
            {% for error in form.complejidad.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.costo.label(style="float: left; width: 100px;") }}
            {{form.costo(class="form-input", style="width: 200px") }}
            {% for error in form.costo.errors %} {{ error }} {% endfor %}
      </dl>
      <p><input type="submit" name="crear" value="Crear">
         <input type="button" value="Cancelar" onclick="javascript:history.back();"><p>
    </form>
{% endblock %}
