{% extends "static/layout.html" %}
{% block title %} Modulo de Administracion {% endblock %}
{% block body %}
{% if session.logged_in and g.user.name == "admin"%}
    <div class="page-header"> 
        <center>
            <h3>Modulo de Administracion</h3>       
                  
            <p><img src="/img/link.png"/><a href="{{ url_for('listProject') }}">Administrar Proyectos del Sistema</a> </p>
            <p><img src="/img/link.png"/><a href="{{ url_for('listUser') }}">Administrar Usuarios del Sistema</a></p>
            <p><img src="/img/link.png"/><a href="{{ url_for('listAtrib') }}">Administrar Atributos del Sistema</a></p>
        </center>            
    </div>
{% else%}
<img src="/img/info.png"/>
<p> 
<ol type="1">
    <li> No se logueo al sistema o </li>
    <li> No tiene el permiso: "ModuloAdministracion" </li>
    <li> No es el usuario admin</li>
    
</ol>

{% endif %}
 {% endblock %}