{% extends "static/layout.html" %}

{% block title %} Administrar Item {% endblock %}

{% block body %}
<div class="page-header">
    <center>
    <h1> Administrar Items</h1>
    <p><img src="/img/link.png"/><a href="{{ url_for('desarrollo') }}">Modulo Desarrollo</a></p>
    <h3>En el Contexto de la fase</h3>
    </center>
</div>
    <div class="page-header">
        
            
                		{% if not g.user %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
           
				{% else %}
                                <center>
                                    <p><img src="/img/link.png"/><a href="{{ url_for('listFasesActivasD') }}">Lista de Fases Activas del Proyecto</a>
                                    <p><img src="/img/link.png"/><a href="{{ url_for('listItem', idFase = identFase) }}">Listar Item por Fase</a>
                                </center>
                                {% endif %}
    </div>
  
{% endblock %}


