{% extends "static/layout.html" %}

{% block title %} Modulo de Administracion {% endblock %}

{% block body %}
    <div class="page-header">
        <center>
              <h3>Modulo de Administracion</h3>
        </center>
  
    </div>
      <dl>
        <ul>
            <li><a href="{{ url_for('listEdit') }}">Administrar Usuarios</a></li>
            <li><a href="{{ url_for('listAtrib') }}">Administrar Tipos de Atributos</a></li>
            <li><a href="{{ url_for('listRolPermiso') }}">Administrar Roles y Permisos</a></li>
            <li><a href="{{ url_for('listProject') }}">Administrar Proyecto</a></li>
            <li><a href="{{ url_for('listFase') }}">Administrar Fases</a></li>
            <li><a href="{{ url_for('listTipoDeItem') }}">Administrar Tipo de Item</a></li>
        </ul>
      </dl>

{% endblock %}
