{% extends "static/layout.html" %}

{% block title %}{% endblock %}

{% block body %}

<div class="page-header"><h1>Formulario: Asignar Usuario a Proyecto</h1></div>
<form method="post" action="" runat="server">
  <div class="page-header"><h3>PASO 1: Seleccionar el usuario</h3></div>      
  <table id="tableTwo" class="yui">    
    <thead>
            <tr>
                <td class="tableHeader">
                </td>
                <td colspan="5" class="filter">
                    Search: <input id="filterBoxTwo" value="" maxlength="30" size="30" type="text" />
                    <img id="filterClearTwo" src="/img/cross.png" title="Click to clear filter." alt="Clear Filter Image" />
                </td>
            </tr> 	
            <tr>
                    <th><a href='#' title="Click Header to Sort">ElegirUsuario</a></th>
                    <th><a href='#' title="Click Header to Sort">Nick</a></th>
                    <th><a href='#' title="Click Header to Sort">Estado</a></th>
            </tr>
    </thead>
        {% for user in listU %}
            {% if user.estado != "Inactivo" and not user in list%}
            <tr>
               <td><input type="radio" checked="checked" name=usuario value="{{ user['name'] }}"></td>
               <td><h5>{{user.name}}</h5></td>
               <td><h5>{{user.estado}}</h5></td>  
            </tr>
            {% endif %}

        {% endfor %}   
    <tfoot>
        <tr id="pagerTwo">
            <td colspan="5">
                    <img src="/img/first.png" class="first"/>
                    <img src="/img/prev.png" class="prev"/>
                    <input type="text" class="pagedisplay"/>
                    <img src="/img/next.png" class="next"/>
                    <img src="/img/last.png" class="last"/>
                    <select class="pagesize">
                            <option selected="selected"  value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option  value="20">20</option>
                    </select>
                </td>
        </tr>
    </tfoot>    
 </table>
<div style="padding-bottom:20px;">
<div class="js-kit-poll" style="width: 350px;"></div>
<script type="text/javascript" src="http://js-kit.com/polls.js"></script>
</div> 
  
<div class="page-header"><h3>PASO 2: Elegir Rol </h3></div>  
<table id="tableTwo" class="yui">    
    <thead>
        <tr>
            <td class="tableHeader">
            </td>
            <td colspan="5" class="filter">
                Search: <input id="filterBoxTwo" value="" maxlength="30" size="30" type="text" />
                <img id="filterClearTwo" src="/img/cross.png" title="Click to clear filter." alt="Clear Filter Image" />
            </td>
        </tr> 	
        <tr>
            <th><a href='#' title="Click Header to Sort">ElegirRol</a></th>    
            <th><a href='#' title="Click Header to Sort">Nombre</a></th>
            <th><a href='#' title="Click Header to Sort">Ambito</a></th>
        </tr>
    </thead>
    {% for rol in listR %}
            {% if not rol.nombre == "LiderDeProyecto"%}
                <tr>
                   <td><input type="radio" checked="checked" name=rol value="{{ rol['nombre'] }}"></td>
                   <td><a href="{{ url_for('showRolProyecto', nombre = rol.nombre , nombreProyecto = ambito)}}"</a><h5>{{ rol.nombre }}</h5></td>
                   <td><a href="{{ url_for('showRolProyecto', nombre = rol.nombre , nombreProyecto = ambito)}}"</a><h5>{{ rol.ambito }}</h5></td>     
                </tr>
            {% endif %}

    {% endfor %}

 
    <tfoot>
        <tr id="pagerTwo">
            <td colspan="5">
                    <img src="/img/first.png" class="first"/>
                    <img src="/img/prev.png" class="prev"/>
                    <input type="text" class="pagedisplay"/>
                    <img src="/img/next.png" class="next"/>
                    <img src="/img/last.png" class="last"/>
                    <select class="pagesize">
                            <option selected="selected"  value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option  value="20">20</option>
                    </select>
                </td>
        </tr>
    </tfoot>    
</table>
<div style="padding-bottom:20px;">
<div class="js-kit-poll" style="width: 350px;"></div>
<script type="text/javascript" src="http://js-kit.com/polls.js"></script>
</div>
<div class="page-header"><h3>PASO 3: Add o Cancelar </h3></div>  
<br/>
<p>
    <input class="button"  type="submit" name="nuevo" value="Add">
    <input class="button" type="button" value="Cancelar" onclick="javascript:history.back();">
<p>
</form> 
{% endblock %}