l{% extends "static/layout.html" %}

{% block title %}Modulo de Desarrollo{% endblock %}

{% block body %}
{% if session.logged_in and g.proyecto != None and "ModuloDesarrollo" in g.permisos%}
    <div class="page-header">        
        <center>
        <h3>Modulo de Desarrollo</h3>
        {% if "DesItem" in g.permisos%}
        <p><img src="/img/link.png"/><a href="{{ url_for('listFasesActivasD') }}"> Desarrollar Ítem </a></p>
        {% else %}
        <p><a class="disabled" href="javascript:void(0) href="{{ url_for('listFasesActivasD') }}">  Desarrollar Item</a></p>
        {% endif %}
        {% if "DesSolicitud" in g.permisos%}
        <p><img src="/img/link.png"/><a href="{{ url_for('listSolicitudes') }}"> Solicitud de Cambio</a></p>        
        {% else %}
        <p><a class="disabled" href="javascript:void(0) href="{{ url_for('listSolicitudes') }}">  Solicitud de Cambio</a></p>
        {% endif %}
        {% if "DesReporte" in g.permisos%}
        <p><img src="/img/link.png"/><a href="{{ url_for('desReporte') }}"> Desarrollar Reportes </a></p>        
        {% else %}
        <p><a class="disabled" href="javascript:void(0) href="{{ url_for('desReporte') }}">  Desarrollar Reportes</a></p>
        {% endif %}
    
        
        
        
        </center>
        
    </div>
</br>
<h3> Datos de Sesion </h3>
<p><img src="/img/info.png"/></p>
<p>Proyecto: {{g.proyecto.nombre}} </p>
<p>Rol del Usuario:  {{ g.rol.nombre}} </p>
<p>Permisos del Usuario: {{ g.permisos}}</p>
{% else%}
<p> <img src="/img/info.png"/> </p>
<p> No se logue al sistema o </p>
<p> No eligio un proyecto o  </p>
<p> No tiene el permiso: "ModuloDesarrollo" o </p>
{% endif %}

{% endblock %}