{% extends "static/layout.html" %}

{% block title %}Edit Atrib{% endblock %}

{% block body %}
<div class="page-header">
    <center>
    <h1>Administrar Atributo</h1>
    <p><img src="/img/link.png"/><a href="{{ url_for('administracion') }}">Modulo Administracion</a></p>
    </center>
</div>

<h3>Modificar datos de atributo</h3>
    <form enctype="multipart/form-data" method="post" action="">
      <dl>
          {{ form.csrf }}
            {{ form.nombre.label(style="float: left; width: 120px;") }}
            {{form.nombre(class="form-input") }}
            {% for error in form.nombre.errors %} {{ error }} {% endfor %}
            <br />
            <div style="float:left;width: 120px;">
            <LABEL for="tipoDato">Tipo de Dato </LABEL>
            </div>
            <select name="tipoDeDato" onclick="chequea(this,this.form.file, this.form.detalle, this.form.filename)" id="tipoDato" >
            {% for button in buttons %}
                {% if button in active_btns %}
                    <option selected value="{{ button }}" >{{ button }}</option>
                {% else %}
                    <option value="{{ button }}" >{{ button }}</option>
                {% endif %}
            {% endfor %}
            </select>
            <br />
            <p>
            <input type="file" name="file" id="filed" disabled="true" value="" hidden="" required ="true">
            </p>
            {{form.filename.label(style="float: left; width: 120px;") }}
            {{form.filename(class="form-input", readonly="readonly")}}
            <br />
            {{form.detalle.label(style="float: left; width: 120px;") }}
            {{form.detalle(class="form-input")}}
            {%for error in form.detalle.errors %} {{ error }} {% endfor %}
            <br />
            {{form.descripcion.label(style="float: left; width: 120px;") }}
            {{form.descripcion(class="textarea") }}
            {% for error in form.descripcion.errors %} {{ error }} {% endfor %}
      </dl>
      <script type="text/javascript">
        function chequea(campo, boton, campo2, campo3){
                switch (campo.value) { 
                case "archivo":
                        boton.disabled=false;
                        boton.hidden=false;
                        campo2.disabled=true;
                        campo2.value=0;
                        campo3.value = "";
                        return campo2;
                        break;
                case "numerico":
                case "texto":
                        boton.disabled=true;
                        boton.value="";
                        boton.hidden=true;
                        campo2.disabled=false;
                        campo3.value="";
                        return boton;
                        break;
                case "fecha":
                case "booleano":
                        boton.disabled=true;
                        boton.value=""
                        boton.hidden=true;
                        campo2.disabled=true;
                        campo2.value=0;
                        campo3.value="";
                        return boton, campo2;
                        break;
                }
        }
     </script>
     <script language="javascript" type="text/javascript">
         function vacia(campo, campo2){
                    if (campo2.value == "archivo")
                            campo.value = "";

         }
     </script>
      <p>
          <input class="button" type="submit" value="Aceptar">
          <input class="button" type="button" value="Cancelar" onclick="location.href = '/showAtrib/{{nombreu}}.html'"> 
      <p>
    </form> 
{% endblock %}
