{% extends "static/layout.html" %}

{% block title %}Edit Project{% endblock %}

{% block body %}
    <h1>Editar Proyecto</h1>
    <form method="post" action="">
      <dl>
          {{ form.csrf }}
            {{ form.nombre.label(style="float: left; width: 100px;") }}
            {{form.nombre(class="form-input", style="width: 200px") }}
            {% for error in form.nombre.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.descripcion.label(style="float: left; width: 100px;") }}
            {{form.descripcion(class="form-input", style="height:50px;width:200px") }}
            {% for error in form.descripcion.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.presupuesto.label(style="float: left; width: 100px;") }}
            {{form.presupuesto(class="form-input", style="width: 200px") }}
            {% for error in form.presupuesto.errors %} {{ error }} {% endfor %}
            <br />
        
      </dl>
      <br />
      <p>
          <input class="button" type="submit" value="Editar"">
          <input class="button" type="button" value="Cancelar" onclick="javascript:history.back();">
      </p>    
    </form>
{% endblock %}
