{% extends "static/layout.html" %}

{% block title %}{% endblock %}

{% block body %}
<div class="page-header"><h3>MODULO DE ADMINISTRACION: Administrar Proyecto</h3></div>
<li><a href="{{ url_for('index') }}">Home</a></li>
<li><a href="{{ url_for('listProject') }}">Proyectos</a></li>

<div class="page-header"><h3>Editar Proyecto</h3></div>
<form method="post" action="" runat="server">
  <dl>
        {{ form.csrf }}
        {{ form.descripcion.label(style="float: left; width: 100px;") }}
        {{form.descripcion(class="form-input", style="height:50px;width:300px") }}
        {% for error in form.descripcion.errors %} {{ error }} {% endfor %}
        <br />
        {{ form.presupuesto.label(style="float: left; width: 100px;") }}
        {{form.presupuesto(class="form-input", style="width:300px") }}
        {% for error in form.presupuesto.errors %} {{ error }} {% endfor %}
        <br />      
  </dl>

  <br/>
  <p>
      <input  class="button"  type="submit" value="Add">
      <input class="button" type="button" value="Cancelar" onclick="javascript:history.back();">  
  </p>

</form>
{% endblock %}