{% extends "static/layout.html" %}

{% block title %}Edit Fase{% endblock %}

{% block body %}
    <h1>Editar Fase</h1>
    <form method="post" action="">
      <dl>
          {{ form.csrf }}
            {{ form.nombre.label(style="float: left; width: 100px;") }}
            {{form.nombre(class="form-input", style="width: 200px") }}
            {% for error in form.nombre.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.descripcion.label(style="float: left; width: 100px;") }}
            {{form.descripcion(class="form-input", style="height:50px;width:200px") }}
            {% for error in form.descripcion.errors %} {{ error }} {% endfor %}
            <br />
             {{ form.orden.label(style="float: left; width: 100px;") }}
            {{form.orden(class="form-input", style="width: 200px") }}
            {% for error in form.orden.errors %} {{ error }} {% endfor %}
            <br />
      </dl>
      <br />
      <p>
          <input class="button" type="submit" value="Editar"">
          <input class="button" type="button" value="Cancelar" onclick="javascript:history.back();">
      </p>    
    </form>
{% endblock %}