{% extends "static/layout.html" %}

{% block title %}Editar estado del usuario{% endblock %}

{% block body %}
<div class="page-header">
    <center>
    <h1>Administrar Usuario</h1>
    <p><img src="/img/link.png"/><a href="{{ url_for('administracion') }}">Modulo Administracion</a></p>
    </center>
</div>
    <h3>*PASO 1: Modificar el estado del usuario</h3>
    <form method="post" action="">
    <label> Estado:  </label>
    <select name="estado" onchange="chequea(this,this.form.estado)" id="estadoUser">        
            {% for button in buttons %}
                {% if button in user.estado %}
                    <option selected value="{{ button }}" >{{ button }}</option>
                {% else %}
                    <option value="{{ button }}" >{{ button }}</option>
                {% endif %}
            {% endfor %}
    </select>
          <input class="button" type="submit" value="EditState">
          <input class="button" type="button" value="Back" onclick="document.location='/showUser/{{idUser}}.html';">
      
    </form>
{% endblock %}
