{% extends "static/layout.html" %}

{% block title %}Editar datos del Usuario{% endblock %}

{% block body %}
<div class="page-header">
    <center>
    <h1>Administrar Usuario</h1>
    <p><img src="/img/link.png"/><a href="{{ url_for('administracion') }}">Modulo Administracion</a></p>
    </center>
</div>
<h3>*PASO 1: Modificar los datos del usuario </h3>
    <form method="post" action="">
      <dl>
        {{ form.csrf }}
            {{ form.name.label(style="float: left; width: 105px;") }} 
            {{ form.name(class="form-input", readonly = "readonly") }}
            {% for error in form.name.errors %} {{ error }} {% endfor %}
	    <br />
            {{ form.password.label(style="float: left; width: 105px;") }}
            {{form.password(class="form-input",autofocus=true) }}
            {% for error in form.password.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.confirmacion.label(style="float: left; width: 105px;") }}
            {{form.confirmacion(class="form-input") }}
            {% for error in form.confirmacion.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.nombre.label(style="float: left; width: 105px;") }}
            {{form.nombre(class="form-input") }}
            {% for error in form.nombre.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.apellido.label(style="float: left; width: 105px;") }}
            {{form.apellido(class="form-input") }}
            {% for error in form.apellido.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.email.label(style="float: left; width: 105px;") }}
            {{form.email(class="form-input") }}
            {% for error in form.email.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.telefono.label(style="float: left; width: 105px;") }}
            {{form.telefono(class="form-input") }}
            {% for error in form.telefono.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.obs.label(style="float: left; width: 105px;") }}
            {{form.obs(class="textarea") }}
            {% for error in form.obs.errors %} {{ error }} {% endfor %}
      </dl>
      
        <div>
          <input class="button" type="submit" value="EditUser">
          <input class="button" type="button" value="Back" onclick="document.location='/showUser/{{idUser}}.html';">
        </div>
      
    </form>
{% endblock %}
