{% extends "static/layout.html" %}

{% block title %}Edit State{% endblock %}

{% block body %}
    <h1>Modificar estado de usuario</h1>
    <form method="post" action="">
      <dl>
        {{ form.csrf }}
            {{ form.estado.label(style="float: left; width: 100px;") }} 
            {{ form.estado(class="form-input", style="width:200px") }}
            {% for error in form.estado.errors %} {{ error }} {% endfor %}
      </dl>
      <script language="JavaScript">
      function confirmar ( mensaje ) {
      return confirm( mensaje );
      } 
      </script>
      
      <p>
          <input class="button" type="submit" value="Aceptar">
          <input class="button" type="button" value="Cancelar" onclick="javascript:history.back();">
      <p>
    </form>
{% endblock %}
