{% extends "static/layout.html" %}

{% block title %}Rol{% endblock %}

{% block body %}
<div class="page-header"><h1>Formulario: Crear Rol por Proyecto</h1></div>
<div class="page-header"><h3>PASO 1: Rellenar los datos del Rol</h3></div>
<form method="post" action="">
  <dl>
    {{ form.csrf }}
        {{ form.nombre.label(style="float: left; width: 100px;") }} 
        {{ form.nombre(class="form-input", style="width: 300px") }}
        {% for error in form.nombre.errors %} {{ error }} {% endfor %}
        <br />
        {{ form.descripcion.label(style="float: left; width: 100px;") }}
        {{form.descripcion(class="form-input", style="height:50px;width:300px") }}
        {% for error in form.descripcion.errors %} {{ error }} {% endfor %}

  </dl>
  <div class="page-header"><h3>PASO 2: Guardar el rol o Cancelar</h3></div>
  <p>
      <input class="button" type="submit" value="Guardar">
      <input class="button" type="button" value="Cancelar" onclick="javascript:history.back();">   
  </p>
</form>
<li><a href="{{ url_for('index') }}">Home</a></li>
{% endblock %}
