{% extends "static/layout.html" %}

{% block title %}Add{% endblock %}

{% block body %}
<div class="page-header">
    <center>
    <h1>Agregar Proyecto ( 1 / 2 )</h1>
    <p><img src="/img/link.png"/><a href="{{ url_for('administracion') }}">Modulo Administracion</a></p>
    </center>
</div>
<h3>*PASO 1: Rellenar los datos del Proyecto</h3>
<form method="post" action="" runat="server">
  <dl>
        {{ form.csrf }}
        {{ form.nombre.label(style="float: left; width: 105px;") }}
        {{form.nombre(class="form-input", autofocus=true) }}
        {% for error in form.nombre.errors %} {{ error }} {% endfor %}
        <br />
        {{ form.descripcion.label(style="float: left; width: 105px;") }}
        {{form.descripcion(class="textarea") }}
        {% for error in form.descripcion.errors %} {{ error }} {% endfor %}
        <br />
        {{ form.presupuesto.label(style="float: left; width: 105px;") }}
        {{form.presupuesto(class="form-input") }}
        {% for error in form.presupuesto.errors %} {{ error }} {% endfor %}
        <br />      
  </dl>
<h3>*PASO 2: Seleccionar Lider de Proyecto</h3>
      <table id="tableTwo" class="yui">    
        <thead>
                <tr>
                    <td class="tableHeader">
                    </td>
                    <td colspan="5" class="filter">
                        Search: <input id="filterBoxTwo" value="" maxlength="30" size="30" type="text" />
                        <img id="filterClearTwo" src="/img/cross.png" title="Click to clear filter." alt="Clear Filter Image" />
                    </td>
                </tr> 	
                        <tr>
                                <th><a href='#' title="Click Header to Sort">AsignarLider</a></th>
                                <th><a href='#' title="Click Header to Sort">Nick</a></th>
                                <th><a href='#' title="Click Header to Sort">Estado</a></th>
                        </tr>
        </thead>
            {% for user in list %}
             {% if user.estado == "Activo"  and user.name != "admin"%}
                <tr>

                    <td><input type="radio" name=lista value="{{ user['idUser'] }}" required=""></td>
                   <td><h5>{{user.name}}</h5></td>
                   <td><h5>{{user.estado}}</h5></td>  
                </tr>
                {% endif %}

            {% endfor %}

        </tbody>   
        <tfoot>
                    <tr id="pagerTwo">
                        <td colspan="5">
                                <img src="/img/first.png" class="first"/>
                                <img src="/img/prev.png" class="prev"/>
                                <input type="text" class="pagedisplay"/>
                                <img src="/img/next.png" class="next"/>
                                <img src="/img/last.png" class="last"/>
                                <select class="pagesize">
                                        <option selected="selected"  value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option  value="20">20</option>
                                </select>
                            </td>
                    </tr>
        </tfoot>    
        </table>
        <div style="padding-bottom:20px;">
        <div class="js-kit-poll" style="width: 350px;"></div>
        <script type="text/javascript" src="http://js-kit.com/polls.js"></script>
        </div>
<div class="buttons">
    <input class="button" type="submit" value="AddProyecto">
    <input class="button" type="button" value="Back" onclick="document.location='/listProject';">
</div>
</form>
<br/>

{% endblock %}
