{% extends "static/layout.html" %}

{% block title %}{% endblock %}

{% block body %}
<div class="page-header">
    <center>
    <h1>Gestionar Proyecto</h1>
    <p><img src="/img/link.png"/><a href="{{ url_for('gestion') }}">Modulo Gestion</a></p>
    <h3>Show Proyecto</h3>
    </center>
</div>

    <form method="post" action="">  
      <dl>
        {{ form.csrf }}
            {{ form.nombre.label(style="float: left; width: 105px;") }}
            {{form.nombre(class="form-input", readonly="readonly") }}
            {% for error in form.nombre.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.descripcion.label(style="float: left; width: 105px;") }}
            {{form.descripcion(class="textarea", readonly="readonly") }}
            {% for error in form.descripcion.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.fechaDeCreacion.label(style="float: left; width: 105px;") }}
            {{form.fechaDeCreacion(class="form-input", readonly="readonly") }}
            {% for error in form.fechaDeCreacion.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.estado.label(style="float: left; width: 105px;") }}
            {{form.estado(class="form-input", readonly="readonly") }}
            {% for error in form.estado.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.presupuesto.label(style="float: left; width: 105px;") }}
            {{form.presupuesto(class="form-input", readonly="readonly") }}
            {% for error in form.presupuesto.errors %} {{ error }} {% endfor %}
            <br />
      </dl>
          <div>
          {% if proyecto.estado == "Pendiente" %}
              <input class="button" type="submit" name="init" value="Iniciar Proyecto">
          {% endif %}          
          {% if proyecto.estado == "Activo" %}
              <input class="button" type="submit" name="fin" value="Finalizar Proyecto">
          {% endif %}
            <input class="button" type="submit" name="reporte" value="Reporte de Proyecto">
            <input class="button" type="submit" name="costo" value="Calculo de Costo de Proyecto">
            <input class="button" type="submit" name="impacto" value="Calculo de Impacto de Proyecto">
        <input class="button" type="button" value="Back" onclick="document.location='/gestion';">
        </div>
      
    </form>

{% endblock %}
