{% extends "static/layout.html" %}
{% block title %}{% endblock %}
{% block body %}
<div class="page-header">
    <center>
    <h1>Importar Fase de Proyecto</h1>
    <p><img src="/img/link.png"/><a href="{{ url_for('gestion') }}">Modulo Gestion</a></p>
    </center>
</div>
<h3>*PASO1: Seleccionar las Fases de los Proyectos del Sistema </h3>
<form method="post" action="" runat="server" >
<table id="tableTwo" class="yui">    
<thead>
        <tr>
            <td class="tableHeader">
            </td>
            <td colspan="5" class="filter">
                Search: <input id="filterBoxTwo" value="" maxlength="30" size="30" type="text" />
                <img id="filterClearTwo" src="/img/cross.png" title="Click to clear filter." alt="Clear Filter Image" />
            </td>
        </tr> 	
        <tr>
                <th><a href='#' title="Click Header to Sort">Asignar</a></th>
                <th><a href='#' title="Click Header to Sort">Nombre</a></th>
                <th><a href='#' title="Click Header to Sort">Orden</a></th>
                <th><a href='#' title="Click Header to Sort">Estado</a></th>
                <th><a href='#' title="Click Header to Sort">ProyectoId</a></th>
                <th><a href='#' title="Click Header to Sort">TipoDeItemId</a></th>
        </tr>
</thead>
 {% for fase in list %}
    {% if fase.proyectoId != proyectoId %}
     <tr>  
        <td><input type=checkbox name=lista value="{{ fase['idFase'] }}" requiered=""></td>
        <td> <h5>{{ fase.nombre }}</h5></td>
        <td> <h5>{{ fase.orden}}</h5></td>	
        <td> <h5>{{ fase.estado}}</h5></td>	
        <td> <h5>{{ fase.proyectoId}}</h5></td>
        <td> <h5>{{ fase.tipoDeItemId}}</h5></td>
     </tr>
     {% endif %}
 {% endfor %}
</tbody>   
<tfoot>
            <tr id="pagerTwo">
                <td colspan="5">
                        <img src="/img/first.png" class="first"/>
                        <img src="/img/prev.png" class="prev"/>
                        <input type="text" class="pagedisplay"/>
                        <img src="/img/next.png" class="next"/>
                        <img src="/img/last.png" class="last"/>
                        <select class="pagesize">
                                <option selected="selected"  value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option  value="20">20</option>
                        </select>
                    </td>
            </tr>
</tfoot>    
</table>
<div style="padding-bottom:20px;">
<div class="js-kit-poll" style="width: 350px;"></div>
<script type="text/javascript" src="http://js-kit.com/polls.js"></script>
</div>
<div>
   <input class="button" type="submit" value="Importar" onclick="return confirmar('¿Está seguro que desea importar el registro?')"> 
   <input class="button" type="button" value="Back" onclick="document.location='/listFases';">
</div>

</form>   


{% endblock %}

