{% extends "static/layout.html" %}
{% block title %}List tipoDeItem{% endblock %}
{% block body %}
<div class="page-header">
    <center>
    <h1>Gestionar Tipo de Item </h1>
    <p><img src="/img/link.png"/><a href="{{ url_for('gestion') }}">Modulo Gestion</a></p>
    <h3>Lista de Tipo de Item</h3>
    </center>
</div>
<form method="post" action="" runat="server">             
<table id="tableTwo" class="yui">    
<thead>
        <tr>
            <td class="tableHeader">
            </td>
            <td colspan="2" class="filter">
                Search: <input id="filterBoxTwo" value="" maxlength="30" size="30" type="text" />
                <img id="filterClearTwo" src="/img/cross.png" title="Click to clear filter." alt="Clear Filter Image" />
            </td>
        </tr> 	
		<tr>
			<th><a href='#' title="Click Header to Sort">Nombre</a></th>
			<th><a href='#' title="Click Header to Sort">Descripcion</a></th>
			
		</tr>
</thead>
    {% for tipoDeItem in list %}
    <tr>
       <td><a href="{{ url_for('showTipoDeItem', idTipoDeItem= tipoDeItem.idTipoDeItem )}}"</a><h5>{{ tipoDeItem.nombre }}</h5></td>
       <td><a href="{{ url_for('showTipoDeItem', idTipoDeItem= tipoDeItem.idTipoDeItem )}}"</a><h5>{{ tipoDeItem.descripcion }}</h5></td>
    </tr>
    {% endfor %}

</tbody>   
<tfoot>
	    <tr id="pagerTwo">
	        <td colspan="5">
		        <img src="/img/first.png" class="first"/>
		        <img src="/img/prev.png" class="prev"/>
		        <input type="text" class="pagedisplay"/>
		        <img src="/img/next.png" class="next"/>
		        <img src="/img/last.png" class="last"/>
		        <select class="pagesize">
			        <option selected="selected"  value="5">5</option>
			        <option value="10">10</option>
			        <option value="15">15</option>
			        <option  value="20">20</option>
		        </select>
		    </td>
	    </tr>
</tfoot>    
</table>
<div style="padding-bottom:20px;">
<div class="js-kit-poll" style="width: 350px;"></div>
<script type="text/javascript" src="http://js-kit.com/polls.js"></script>
</div>
<div>
    <input class="button" type="button" value="Crear Tipo de Item" onclick="document.location='addTipoDeItem';">
    <input class="button" type="button" value="Back" onclick="document.location='/gestion';">
</div>
</form>

 

{% endblock %}





