{% extends "static/layout.html" %}

{% block title %}List State{% endblock %}

{% block body %}
    <div class="page-header">
    <h3>Elija el usuario a editar su estado</h3>
</div>

<ul class="users">
{% for user in list %}
    <li class="span3">
        <div class="well well-small user">
            <div class="text">
                <a href="{{ url_for('editState', nombre = user.name )}}"<h5>{{ user.name }}</h5></a>
            </div>
        </div>
    </li>
{% endfor %}
</ul>

{% endblock %}
