{% extends "static/layout.html" %}
{% block title %}Lista Comite{% endblock %}
{% block body %}
<div class="page-header">
    <center>
    <h1>Administrar Proyecto</h1>
    <p><img src="/img/link.png"/><a href="{{ url_for('administracion') }}">Modulo Administracion</a></p>
    </center>
</div>

<h3>Comite de Proyecto</h3>
<form method="post" action="" runat="server" >
<table id="tableTwo" class="yui">    
<thead>
        <tr>
            <td class="tableHeader">
            </td>
            <td colspan="5" class="filter">
                Search: <input id="filterBoxTwo" value="" maxlength="30" size="30" type="text" />
                <img id="filterClearTwo" src="/img/cross.png" title="Click to clear filter." alt="Clear Filter Image" />
            </td>
        </tr> 
        <tr>
                <th><a href='#' title="Click Header to Sort">Nombre</a></th>
                <th><a href='#' title="Click Header to Sort">ProyectoId</a></th>
                <th><a href='#' title="Click Header to Sort">CantMiembro</a></th>
                <th><a href='#' title="Click Header to Sort">Descripcion</a></th>

        </tr>
</thead>
  {% for comite in list%}
    <tr>
        <td><a href="{{ url_for('showComite',  idComite = comite.idComite, idProyecto=comite.proyectoId) }}"</a><h5>{{comite.nombre}}</h5></td>
        <td><a href="{{ url_for('showComite',  idComite = comite.idComite, idProyecto=comite.proyectoId) }}"</a><h5>{{comite.proyectoId}}</h5></td>
        <td><a href="{{ url_for('showComite',  idComite = comite.idComite, idProyecto=comite.proyectoId) }}"</a><h5>{{comite.cantMiembro}}</h5></td>
        <td><a href="{{ url_for('showComite',  idComite = comite.idComite, idProyecto=comite.proyectoId) }}"</a><h5>{{comite.descripcion}}</h5></td>
     </tr>
   {% endfor %}

<tfoot>
    <tr id="pagerTwo">
        <td colspan="5">
                <img src="/img/first.png" class="first"/>
                <img src="/img/prev.png" class="prev"/>
                <input type="text" class="pagedisplay"/>
                <img src="/img/next.png" class="next"/>
                <img src="/img/last.png" class="last"/>
                <select class="pagesize">
                        <option selected="selected"  value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option  value="20">20</option>
                </select>
            </td>
    </tr>
</tfoot>    
</table>
<div style="padding-bottom:20px;">
<div class="js-kit-poll" style="width: 350px;"></div>
<script type="text/javascript" src="http://js-kit.com/polls.js"></script>
</div>
    <div class="buttons">
     {% if not list %}
     <input class="button" type="button" value="Crear Comite" onclick="document.location='/addComite/{{idProyecto}}.html';">
     {% endif %}     
    <input class="button" type="button" value="Back" onclick="document.location='/showProjectPendiente/{{idProyecto}}.html';">
    </div>
</form>   


 {% endblock %}
