{% extends "static/layout.html" %}
{% block title %}Lista Proyecto{% endblock %}
{% block body %}
<div class="page-header">
<center>
<h1>Administrar Proyecto</h1>
<p><img src="/img/link.png"/><a href="{{ url_for('administracion') }}">Modulo de Administracion</a></p>
<h3>Lista de Proyecto</h3>
</center>
</div>

<form runat="server">            
<table id="tableTwo" class="yui">    
<thead>
        <tr>
            <td class="tableHeader">
            </td>
            <td colspan="5" class="filter">
                Search: <input id="filterBoxTwo" value="" maxlength="30" size="30" type="text" />
                <img id="filterClearTwo" src="/img/cross.png" title="Click to clear filter." alt="Clear Filter Image" />
            </td>
        </tr> 
            <tr>
			<th><a href='#' title="Click Header to Sort">Nombre</a></th>
			<th><a href='#' title="Click Header to Sort">FechaDeCreacion</a></th>
			<th><a href='#' title="Click Header to Sort">Estado</a></th>
                        <th><a href='#' title="Click Header to Sort">Presupuesto</a></th>
                        <th><a href='#' title="Click Header to Sort">Descripcion</a></th>
		</tr>
</thead>
  {% for proyecto in list%}
    <tr>
        <td><a href="{{ url_for('showProjectPendiente', idProyecto = proyecto.idProyecto )}}"</a><h5>{{proyecto.nombre}}</h5></td>
        <td><a href="{{ url_for('showProjectPendiente', idProyecto = proyecto.idProyecto  )}}"</a><h5>{{proyecto.fechaDeCreacion}}</h5></td>
        <td><a href="{{ url_for('showProjectPendiente', idProyecto = proyecto.idProyecto  )}}"</a><h5>{{proyecto.estado}}</h5></td>
        <td><a href="{{ url_for('showProjectPendiente', idProyecto = proyecto.idProyecto )}}"</a><h5>{{proyecto.presupuesto}}</h5></td>
        <td><a href="{{ url_for('showProjectPendiente', idProyecto = proyecto.idProyecto )}}"</a><h5>{{proyecto.descripcion}}</h5></td>
     </tr>
   {% endfor %}

</tbody>   
<tfoot>
	    <tr id="pagerTwo">
	        <td colspan="5">
		        <img src="/img/first.png" class="first"/>
		        <img src="/img/prev.png" class="prev"/>
		        <input type="text" class="pagedisplay"/>
		        <img src="/img/next.png" class="next"/>
		        <img src="/img/last.png" class="last"/>
		        <select class="pagesize">
			        <option selected="selected"  value="5">5</option>
			        <option value="10">10</option>
			        <option value="15">15</option>
			        <option  value="20">20</option>
		        </select>
		    </td>
	    </tr>
</tfoot>    
</table>
<div style="padding-bottom:20px;">
<div class="js-kit-poll" style="width: 350px;"></div>
<script type="text/javascript" src="http://js-kit.com/polls.js"></script>
</div>
</form>   
<div>
    <input class="button" type="button" value="Crear Proyecto" onclick="document.location='addProject';">
    <input class="button" type="button" value="Generar Reporte de Proyecto" onclick="document.location='descargarProyecto';">
    <input class="button" type="button" value="Back" onclick="document.location='administracion';">
</div>

 {% endblock %}
