{% extends "static/layout.html" %}
{% block title %}List Item{% endblock %}
{% block body %}

<tbody>
<div class="page-header">
    <h3>Items</h3>
</div>
<form runat="server">
             
<table id="tableTwo" class="yui">    
<thead>
        <tr>
            <td class="tableHeader">
            </td>
            <td colspan="6" class="filter">
                Search: <input id="filterBoxTwo" value="" maxlength="30" size="30" type="text" />
                <img id="filterClearTwo" src="/img/cross.png" title="Click to clear filter." alt="Clear Filter Image" />
            </td>
        </tr> 	
		<tr>
			<th><a href='#' title="Click Header to Sort">Nombre</a></th>
			<th><a href='#' title="Click Header to Sort">Version</a></th>
                        <th><a href='#' title="Click Header to Sort">Complejidad</a></th>
                        <th><a href='#' title="Click Header to Sort">Costo</a></th>
                        <th><a href='#' title="Click Header to Sort">Estado</a></th>
                        <th><a href='#' title="Click Header to Sort">FechaDeModif</a></th>
			
		</tr>
</thead>
    {% for item in list %}
    <tr>
       <td><a href="{{ url_for('showItem', nombre = item.nombre )}}"</a><h5>{{ item.nombre }}</h5></td>
       <td><a href="{{ url_for('showItem', nombre = item.version )}}"</a><h5>{{ item.version }}</h5></td>
       <td><a href="{{ url_for('showItem', nombre = item.complejidad )}}"</a><h5>{{ item.complejidad }}</h5></td>
       <td><a href="{{ url_for('showItem', nombre = item.costo )}}"</a><h5>{{ item.costo }}</h5></td>
       <td><a href="{{ url_for('showItem', nombre = item.estado )}}"</a><h5>{{ item.estado }}</h5></td>
       <td><a href="{{ url_for('showItem', nombre = item.fechaDeModif )}}"</a><h5>{{ item.fechaDeModif }}</h5></td>
    </tr>
    {% endfor %}

</tbody>   
<tfoot>
	    <tr id="pagerTwo">
	        <td colspan="6">
		        <img src="/img/first.png" class="first"/>
		        <img src="/img/prev.png" class="prev"/>
		        <input type="text" class="pagedisplay"/>
		        <img src="/img/next.png" class="next"/>
		        <img src="/img/last.png" class="last"/>
		        <select class="pagesize">
			        <option selected="selected"  value="5">5</option>
			        <option value="10">10</option>
			        <option value="15">15</option>
			        <option  value="20">20</option>
		        </select>
		    </td>
	    </tr>
</tfoot>    
</table>
<div style="padding-bottom:20px;">
<div class="js-kit-poll" style="width: 350px;"></div>
<script type="text/javascript" src="http://js-kit.com/polls.js"></script>
</div>
</form>
    <script language="JavaScript">
        function confirmar ( mensaje ) {
              return confirm( mensaje );
        }
    </script>
 <p><input type="button" value="Atras" onclick="javascript:history.back();"><p>

{% endblock %}





