{% extends "static/layout.html" %}

{% block title %}List Project{% endblock %}

{% block body %}
    <div class="page-header">
    <h3>Proyectos</h3>
</div>

<ul class="proyectos">
{% for proyecto in list %}
    <li class="span3">
        <div class="well well-small user">
            <div class="text">
                <a href="{{ url_for('showProject', nombre = proyecto.nombre )}}"<h5>{{ proyecto.nombre }}</h5></a>
            </div> 
        </div>
    </li>
{% endfor %}
    <p><input type="button" value="Crear Proyecto" onclick="document.location='addProject';">
</ul>


{% endblock %}
