{% extends "static/layout.html" %}

{% block title %}Show Rol{% endblock %}

{% block body %}
    <h1>Show Rol</h1>
    <form method="post" action="">  
      <dl>
        {{ form.csrf }}
            {{ form.nombre.label(style="float: left; width: 105px;") }} 
            {{ form.nombre(class="form-input", style="width: 300px", readonly="readonly") }}
            {% for error in form.nombre.errors %} {{ error }} {% endfor %}
	    <br />
            {{ form.ambito.label(style="float: left; width: 105px;") }} 
            {{ form.ambito(class="form-input", style="width: 300px", readonly="readonly") }}
            {% for error in form.ambito.errors %} {{ error }} {% endfor %}
	    <br />
            {{ form.descripcion.label(style="float: left; width: 105px;") }}
            {{form.descripcion(class="form-input", style="height:50px;width: 300px", readonly="readonly") }}
            {% for error in form.descripcion.errors %} {{ error }} {% endfor %}
      </dl>
      <script language="JavaScript">
          function confirmar ( mensaje ) {
              return confirm( mensaje );
          }
      </script>  
      <p>
          <input type="submit" name="edit" value="Modificar Rol">
          <input type="submit" name="config" value="Configurar Permisos">
          <input type="submit" name="delete" value="Eliminar Rol" onclick="return confirmar('¿Está seguro que desea eliminar el registro?')">
          <input type="button" value="Atras" onclick="javascript:history.back();">
      </p>
    </form>
{% endblock %}
