{% extends "static/layout.html" %}

{% block title %}{% endblock %}

{% block body %}
<div class="page-header">
    <center>
    <h1>Gestionar Fase de Proyecto</h1>
    <p><img src="/img/link.png"/><a href="{{ url_for('gestion') }}">Modulo Gestion</a></p>
    <h3>Show Fase</h3>
    </center>
</div>
<form method="post" action="">  
      <dl>
        {{ form.csrf }}
            {{ form.nombre.label(style="float: left; width: 105px;") }}
            {{form.nombre(class="form-input", readonly="readonly") }}
            {% for error in form.nombre.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.descripcion.label(style="float: left; width: 105px;") }}
            {{form.descripcion(class="textarea", readonly="readonly") }}
            {% for error in form.descripcion.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.fechaDeCreacion.label(style="float: left; width: 105px;") }}
            {{form.fechaDeCreacion(class="form-input", readonly="readonly") }}
            {% for error in form.fechaDeCreacion.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.orden.label(style="float: left; width: 105px;") }}
            {{form.orden(class="form-input", readonly="readonly") }}
            {% for error in form.orden.errors %} {{ error }} {% endfor %}
             <br />
            {{ form.estado.label(style="float: left; width: 105px;") }}
            {{form.estado(class="form-input", readonly="readonly") }}
            {% for error in form.estado.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.proyectoId.label(style="float: left; width: 105px;") }}
            {{form.proyectoId(class="form-input", readonly="readonly") }}
            {% for error in form.proyectoId.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.tipoDeItemId.label(style="float: left; width: 105px;") }}
            {{form.tipoDeItemId(class="form-input", readonly="readonly") }}
            {% for error in form.tipoDeItemId.errors %} {{ error }} {% endfor %}
            <br />
      </dl>
    <div>
        <input class="button" type="submit" name="state" value="Modificar Estado de Fase"  >
        {% if fase.estado == "Pendiente" %}         
        <input class="button" type="submit" name="ordenar" value= "Cambiar Orden de Fase"  >
        <input class="button" type="submit" name="edit" value="Modificar Fase"  >        
        <input class="button" type="submit" name="delete" value="Eliminar Fase" onclick="return confirmar('¿Está seguro que desea eliminar el registro?')">
        <input class="button" type="submit" name="initFase" value="Iniciar Fase"  >         
        {% endif %}
        {% if fase.estado == "Activo" %}
        <input class="button" type="submit" name="gesLB" value="Ver Linea Base"  >
        <input class="button" type="submit" name="items" value="Ver Items"  >
        <input class="button" type="submit" name="finFase" value="Finalizar Fase"  >          
        {% endif %}
        <input class="button" type="button" value="Back" onclick="document.location='/listFases';">
    </div>
   </form>

{% endblock %}
