{% extends "static/layout.html" %}

{% block title %}Mostrar Comite{% endblock %}

{% block body %}
    <form method="post" action="">  
      <div class="page-header"><h3>Show Comite</h3></div>
      <dl>
        {{ form.csrf }}
            {{ form.nombre.label(style="float: left; width: 105px;") }}
            {{form.nombre(class="form-input", style="width: 300px", readonly="readonly") }}
            {% for error in form.nombre.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.descripcion.label(style="float: left; width: 105px;") }}
            {{form.descripcion(class="form-input", style="height:50px;width:300px", readonly="readonly") }}
            {% for error in form.descripcion.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.cantMiembro.label(style="float: left; width: 105px;") }}
            {{form.cantMiembro(class="form-input", style="width: 300px", readonly="readonly") }}
            {% for error in form.cantMiembro.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.proyectoId.label(style="float: left; width: 105px;") }}
            {{form.proyectoId(class="form-input", style="width: 300px", readonly="readonly") }}
            {% for error in form.proyectoId.errors %} {{ error }} {% endfor %}
            <br />
      </dl>
      <br />
      <p>   
        <br />
        <input class="button" type="submit" name="edit" value="Modificar Comite">
        <br />
      </p>
    </form>

<li><a href="{{ url_for('index') }}">Home</a></li>
<li><a href="{{ url_for('administracion') }}">Modulo de Administracion</a></li>
{% endblock %}
