{% extends "static/layout.html" %}

{% block title %}Show TipoDeItem{% endblock %}

{% block body %}
    <h1>Datos del tipo de item</h1>
    <form method="post" action="">  
      <dl>
        {{ form.csrf }}
            {{ form.nombre.label(style="float: left; width: 105px;") }}
            {{form.nombre(class="form-input", style="width: 300px", readonly="readonly") }}
            {% for error in form.nombre.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.descripcion.label(style="float: left; width: 105px;") }}
            {{form.descripcion(class="form-input", style="height:50px;width: 300px", readonly="readonly") }}
            {% for error in form.descripcion.errors %} {{ error }} {% endfor %}
      </dl>
      <script language="JavaScript">
          function confirmar ( mensaje ) {
              return confirm( mensaje );
          }
      </script> 
      
      <p>
         <input type="submit" name="edit" value="Modificar Tipo de Item">
         <input type="submit" name="delete" value="Eliminar Tipo de Item" onclick="return confirmar('¿Está seguro que desea eliminar el usuario?')">
         <input type="button" value="Cancelar" onclick="javascript:history.back();">
      <p>
    </form>
{% endblock %}
