{% extends "static/layout.html" %}

{% block title %}{% endblock %}

{% block body %}

<div class="page-header">
<h1>Administrar Usuario</h1>
<a href="{{ url_for('administracion') }}">Modulo de Administracion</a>
<h3>Show User Activo</h3>
</div>
    <form method="post" action="">
      <dl>
        {{ form.csrf }}
            {{ form.autor.label }}:
            {{s.autor.nombre }}
            <br />
            {{ form.nombre.label }}:
            {{s.nombre }}
            <br />
            {{ form.descripcion.label }}:
            {{s.descripcion }}
            <br />
            {{ form.costo.label}}:
            {{s.costo_total() }}
            <br />
            {{ form.complejidad.label}}:
            {{s.complejidad_total()}}
            <br />
            {{ form.a_favor.label}}:
            {{s.votosPositivos }}
            <br />
            {{ form.en_contra.label}}:
            {{s.votosNegativos }}
            <br />
            {{ form.aceptar.label}}:
            {{form.aceptar}}

      </dl>
        <div class="buttons">
          <input class="button" type="submit" name="edit" value="Guardar">
          <input class="button" type="button" value="Back" onclick="document.location='/listSolicitudes';">
        </div>
    </form>
{% endblock %}
