{% extends "static/layout.html" %}

{% block title %}Edit Fase{% endblock %}

{% block body %}
    <h1>Show Fase</h1>
    <form method="post" action="">  
      <dl>
        {{ form.csrf }}
            {{ form.nombre.label(style="float: left; width: 105px;") }}
            {{form.nombre(class="form-input", style="width: 300px", readonly="readonly") }}
            {% for error in form.nombre.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.descripcion.label(style="float: left; width: 105px;") }}
            {{form.descripcion(class="form-input", style="height:50px;width: 300px", readonly="readonly") }}
            {% for error in form.descripcion.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.fechaDeCreacion.label(style="float: left; width: 105px;") }}
            {{form.fechaDeCreacion(class="form-input", style="width: 300px", readonly="readonly") }}
            {% for error in form.fechaDeCreacion.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.orden.label(style="float: left; width: 105px;") }}
            {{form.orden(class="form-input", style="width: 300px", readonly="readonly") }}
            {% for error in form.orden.errors %} {{ error }} {% endfor %}
             <br />
            {{ form.estado.label(style="float: left; width: 105px;") }}
            {{form.estado(class="form-input", style="width: 300px", readonly="readonly") }}
            {% for error in form.estado.errors %} {{ error }} {% endfor %}
            <br />
    
            <script language="JavaScript">
                function confirmar ( mensaje ) {
                    return confirm( mensaje );
                } 
            </script>  
      </dl>
      <br />
      <p>
          <input class="button" type="submit" name="edit" value="Modificar Fase"  >
          <input class="button" type="submit" name="index" value="Asignar Item">
          <br />
          <input class="button" type="submit" name="delete" value="Eliminar Fase" onclick="return confirmar('¿Está seguro que desea eliminar el registro?')">
          <input class="button" type="submit" name="state" value="Modificar Estado de Fase"  >
          <br />  
          <input class="button" type="submit" name="index" value="Importar Fase">
          <input class="button" type="button" value="Cancelar" onclick="javascript:history.back();">
      </p>
    </form>
{% endblock %}
