{% extends "static/layout.html" %}

{% block title %}{% endblock %}

{% block body %}
<div class="page-header">
    <center>
    <h1>Gestionar Rol del Proyecto</h1>
    <p><img src="/img/link.png"/><a href="{{ url_for('gestion') }}">Modulo Gestion</a></p>
    </center>
</div>  
<h3>Show Rol de Proyecto</h3>
<form method="post" action="">  
<dl>
{{ form.csrf }}
    {{ form.nombre.label(style="float: left; width: 105px;") }} 
    {{ form.nombre(class="form-input", readonly="readonly") }}
    {% for error in form.nombre.errors %} {{ error }} {% endfor %}
    <br />
    {{ form.ambito.label(style="float: left; width: 105px;") }} 
    {{form.ambito(class="form-input", readonly="readonly") }}
    {% for error in form.ambito.errors %} {{ error }} {% endfor %}
    <br />
    {{ form.descripcion.label(style="float: left; width: 105px;") }}
    {{form.descripcion(class="textarea", readonly="readonly") }}
    {% for error in form.descripcion.errors %} {{ error }} {% endfor %}
</dl>
<h3> Lista de Permisos de Rol </h3>
<table id="tableTwo" class="yui">    
    <thead>
            <tr>
                <td class="tableHeader">
                </td>
                <td colspan="5" class="filter">
                    Search: <input id="filterBoxTwo" value="" maxlength="30" size="30" type="text" />
                    <img id="filterClearTwo" src="/img/cross.png" title="Click to clear filter." alt="Clear Filter Image" />
                </td>
            </tr> 	
            <tr>
                    <th><a href='#' title="Click Header to Sort">Nombre</a></th>
                    <th><a href='#' title="Click Header to Sort">Descripcion</a></th>
            </tr>
    </thead>
    {% for per in list %}
         <tr>
           <td><h5>{{per.nombre}}</h5></td>
           <td><h5>{{per.descripcion}}</h5></td>  
        </tr>
     {% endfor %}

      <tfoot>
        <tr id="pagerTwo">
            <td colspan="5">
                    <img src="/img/first.png" class="first"/>
                    <img src="/img/prev.png" class="prev"/>
                    <input type="text" class="pagedisplay"/>
                    <img src="/img/next.png" class="next"/>
                    <img src="/img/last.png" class="last"/>
                    <select class="pagesize">
                            <option selected="selected"  value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option  value="20">20</option>
                    </select>
             </td>
        </tr>
    </tfoot>    
</table>
<div style="padding-bottom:20px;">
<div class="js-kit-poll" style="width: 350px;"></div>
<script type="text/javascript" src="http://js-kit.com/polls.js"></script>
</div>
<div>
    <input class="button" type="submit" name="edit" value="Modificar Rol">
    <input class="button" type="submit" name="delete" value="Eliminar Rol" onclick="return confirmar('¿Está seguro que desea eliminar el registro?')">
    <input class="button" type="button" value="Back" onclick="document.location='/listRolProyecto';">
</div>
</form>
{% endblock %}
