{% extends "static/layout.html" %}

{% block title %}Show Linea Base{% endblock %}

{% block body %}
<div class="page-header">
    <h1>Gestionar Linea Base en el Contexto del Proyecto</h1>
    <li><a href="{{ url_for('gestion') }}">Modulo Gestion</a></li>
    <h3>Show Linea Base :{{lineaBase.nombre}}:</h3>
</div>
    <form method="post" action="">  
      <dl>
        {{ form.csrf }}
            {{ form.nombre.label(style="float: left; width: 100px;") }} 
            {{ form.nombre(class="form-input", readonly="readonly") }}
            {% for error in form.nombre.errors %} {{ error }} {% endfor %}
	    <br />
            {{ form.descripcion.label(style="float: left; width: 100px;") }}
            {{form.descripcion(class="textarea", readonly="readonly") }}
            {% for error in form.descripcion.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.estado.label(style="float: left; width: 100px;") }} 
            {{ form.estado(class="form-input", readonly="readonly") }}
            {% for error in form.estado.errors %} {{ error }} {% endfor %}
      </dl>
        <div class="buttons">
            {% if lineaBase.estado == 
        <input class="button" type="submit" name="edit" value="Modificar LB">
        <input class="button" type="submit" name="editState" value="Modificar Estado de LB">
        <input class="button" type="submit" name="delete" value="Eliminar LB" onclick="return confirmar('¿Está seguro que desea eliminar el registro?')">
        <input class="button" type="button" value="Back" onclick="document.location='/listFasesActivas';">
        </div>
      </form>
{% endblock %}