{% extends "static/layout.html" %}

{% block title %}{% endblock %}

{% block body %}
<div class="page-header">
    <center>
    <h1>Votar Solicitud de Cambio en el contexto del Proyecto</h1>
    <p><img src="/img/link.png"/><a href="{{ url_for('gestion') }}">Modulo Gestion</a></p>
    <h3>Show Solicitud</h3>
    </center>
</div>

    <form method="post" action="">
      <dl>
        {{ form.csrf }}
           {{ form.autor.label(style="float: left; width: 105px;") }}:
           {{form.autor(class="form-input", readonly="readonly") }}
            {% for error in form.autor.errors %} {{ error }} {% endfor %}
             <br />
            {{ form.nombre.label(style="float: left; width: 105px;") }}:
           {{form.nombre(class="form-input", readonly="readonly") }}
            {% for error in form.nombre.errors %} {{ error }} {% endfor %}
            <br />
            {{ form.descripcion.label(style="float: left; width: 105px;") }}:
            {{form.descripcion(class="form-input", readonly="readonly") }}
            {% for error in form.descripcion.errors %} {{ error }} {% endfor %}
             <br />
            {{ form.costo.label(style="float: left; width: 105px;")}}:
            {{form.costo(class="form-input", readonly="readonly") }}
            {% for error in form.costo.errors %} {{ error }} {% endfor %}
           
            <br />
            {{ form.complejidad.label(style="float: left; width: 105px;")}}:
            {{form.complejidad(class="form-input", readonly="readonly") }}
            {% for error in form.complejidad.errors %} {{ error }} {% endfor %}
           
            <br />
            {{ form.a_favor.label(style="float: left; width: 105px;")}}:
            {{form.a_favor(class="form-input", readonly="readonly") }}
            {% for error in form.a_favor.errors %} {{ error }} {% endfor %}
           
            <br />
            {{ form.en_contra.label(style="float: left; width: 105px;")}}:
            {{form.en_contra(class="form-input", readonly="readonly") }}
            {% for error in form.en_contra.errors %} {{ error }} {% endfor %}
           
            <br />
            {{ form.aceptar.label(style="float: left; width: 105px;")}}:
            {{form.aceptar}}

      </dl>
        <div>
          <input class="button" type="submit" name="edit" value="Guardar">
          <input class="button" type="button" value="Back" onclick="document.location='/listSolicitudesG';">
        </div>
    </form>
{% endblock %}
