<?xml version="1.0" encoding="ascii"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Identifier Index</title>
  <link rel="stylesheet" href="epydoc.css" type="text/css" />
  <script type="text/javascript" src="epydoc.js"></script>
</head>

<body bgcolor="white" text="black" link="blue" vlink="#204080"
      alink="#204080">
<!-- ==================== NAVIGATION BAR ==================== -->
<table class="navbar" border="0" width="100%" cellpadding="0"
       bgcolor="#a0c0ff" cellspacing="0">
  <tr valign="middle">
  <!-- Home link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="views-module.html">Home</a>&nbsp;&nbsp;&nbsp;</th>

  <!-- Tree link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="module-tree.html">Trees</a>&nbsp;&nbsp;&nbsp;</th>

  <!-- Index link -->
      <th bgcolor="#70b0f0" class="navbar-select"
          >&nbsp;&nbsp;&nbsp;Indices&nbsp;&nbsp;&nbsp;</th>

  <!-- Help link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="help.html">Help</a>&nbsp;&nbsp;&nbsp;</th>

      <th class="navbar" width="100%"></th>
  </tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td width="100%">&nbsp;</td>
    <td>
      <table cellpadding="0" cellspacing="0">
        <!-- hide/show private -->
        <tr><td align="right"><span class="options">[<a href="javascript:void(0);" class="privatelink"
    onclick="toggle_private();">hide&nbsp;private</a>]</span></td></tr>
        <tr><td align="right"><span class="options"
            >[<a href="frames.html" target="_top">frames</a
            >]&nbsp;|&nbsp;<a href="identifier-index.html"
            target="_top">no&nbsp;frames</a>]</span></td></tr>
      </table>
    </td>
  </tr>
</table>
<table border="0" width="100%">
<tr valign="bottom"><td>
<h1 class="epydoc">Identifier Index</h1>
</td><td>
[
 <a href="#A">A</a>
  B
 <a href="#C">C</a>
 <a href="#D">D</a>
 <a href="#E">E</a>
 <a href="#F">F</a>
 <a href="#G">G</a>
  H
 <a href="#I">I</a>
  J
  K
 <a href="#L">L</a>
 <a href="#M">M</a>
  N
 <a href="#O">O</a>
  P
  Q
 <a href="#R">R</a>
 <a href="#S">S</a>
  T
  U
 <a href="#V">V</a>
  W
  X
  Y
  Z
 <a href="#_">_</a>
]
</td></table>
<table border="0" width="100%">
<tr valign="top"><td valign="top" width="1%"><h2 class="epydoc"><a name="A">A</a></h2></td>
<td valign="top">
<table class="link-index" width="100%" border="1">
<tr>
<td width="33%" class="link-index"><a href="views.administracion-module.html#addAtrib">addAtrib()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.administracion-module.html#addProject">addProject()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#addUserComite">addUserComite()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.administracion-module.html#addComite">addComite()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#addRolProyecto">addRolProyecto()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#addUserProyecto">addUserProyecto()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.gestion-module.html#addFase">addFase()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#addSolicitud">addSolicitud()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
<td width="33%" class="link-index"><a href="views.administracion-module.html">administracion</a><br />
<span class="index-where">(in&nbsp;<a href="views-module.html">views</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#addItem">addItem()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#addTipoDeItem">addTipoDeItem()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.sistema-module.html#administracion">administracion()</a><br />
<span class="index-where">(in&nbsp;<a href="views.sistema-module.html">views.sistema</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.gestion-module.html#addLineaBase">addLineaBase()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.administracion-module.html#addUser">addUser()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#admItem">admItem()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
</tr>
</table>
</td></tr>
<tr valign="top"><td valign="top" width="1%"><h2 class="epydoc"><a name="C">C</a></h2></td>
<td valign="top">
<table class="link-index" width="100%" border="1">
<tr>
<td width="33%" class="link-index"><a href="views.ingreso-module.html#check_user_status">check_user_status()</a><br />
<span class="index-where">(in&nbsp;<a href="views.ingreso-module.html">views.ingreso</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#costoProyecto">costoProyecto()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index">&nbsp;</td>
</tr>
<tr><td class="link-index">&nbsp;</td><td class="link-index">&nbsp;</td><td class="link-index">&nbsp;</td></tr>
</table>
</td></tr>
<tr valign="top"><td valign="top" width="1%"><h2 class="epydoc"><a name="D">D</a></h2></td>
<td valign="top">
<table class="link-index" width="100%" border="1">
<tr>
<td width="33%" class="link-index"><a href="views.administracion-module.html#deleteAtrib">deleteAtrib()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#deleteTipoDeItem">deleteTipoDeItem()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.administracion-module.html#descargar">descargar()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.gestion-module.html#deleteFase">deleteFase()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.administracion-module.html#deleteUser">deleteUser()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.administracion-module.html#descargarProyecto">descargarProyecto()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#deleteItem">deleteItem()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html">desarrollo</a><br />
<span class="index-where">(in&nbsp;<a href="views-module.html">views</a>)</span></td>
<td width="33%" class="link-index"><a href="views.administracion-module.html#descargarUser">descargarUser()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.gestion-module.html#deleteLineaBase">deleteLineaBase()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.sistema-module.html#desarrollo">desarrollo()</a><br />
<span class="index-where">(in&nbsp;<a href="views.sistema-module.html">views.sistema</a>)</span></td>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#desReporte">desReporte()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.administracion-module.html#deleteProject">deleteProject()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#desasignarUsuarioDeComite">desasignarUsuarioDeComite()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index">&nbsp;</td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.gestion-module.html#deleteRolProyecto">deleteRolProyecto()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#desasignarUsuarioDeProyecto">desasignarUsuarioDeProyecto()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index">&nbsp;</td>
</tr>
</table>
</td></tr>
<tr valign="top"><td valign="top" width="1%"><h2 class="epydoc"><a name="E">E</a></h2></td>
<td valign="top">
<table class="link-index" width="100%" border="1">
<tr>
<td width="33%" class="link-index"><a href="views.administracion-module.html#editAtrib">editAtrib()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#editItemState">editItemState()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
<td width="33%" class="link-index"><a href="views.administracion-module.html#editState">editState()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.administracion-module.html#editComite">editComite()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#editLineaBase">editLineaBase()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#editStateLineaBase">editStateLineaBase()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.gestion-module.html#editFase">editFase()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.administracion-module.html#editProject">editProject()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#editTipoDeItem">editTipoDeItem()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.gestion-module.html#editFaseState">editFaseState()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.administracion-module.html#editProjectState">editProjectState()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.administracion-module.html#editUser">editUser()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#editItem">editItem()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#editRolProyecto">editRolProyecto()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#ejecutarSolicitud">ejecutarSolicitud()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
</tr>
</table>
</td></tr>
<tr valign="top"><td valign="top" width="1%"><h2 class="epydoc"><a name="F">F</a></h2></td>
<td valign="top">
<table class="link-index" width="100%" border="1">
<tr>
<td width="33%" class="link-index"><a href="views.gestion-module.html#finFase">finFase()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#finProject">finProject()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index">&nbsp;</td>
</tr>
<tr><td class="link-index">&nbsp;</td><td class="link-index">&nbsp;</td><td class="link-index">&nbsp;</td></tr>
</table>
</td></tr>
<tr valign="top"><td valign="top" width="1%"><h2 class="epydoc"><a name="G">G</a></h2></td>
<td valign="top">
<table class="link-index" width="100%" border="1">
<tr>
<td width="33%" class="link-index"><a href="views.gestion-module.html#gesLB">gesLB()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html">gestion</a><br />
<span class="index-where">(in&nbsp;<a href="views-module.html">views</a>)</span></td>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#graficarItem">graficarItem()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.gestion-module.html#gesProyecto">gesProyecto()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.sistema-module.html#gestion">gestion()</a><br />
<span class="index-where">(in&nbsp;<a href="views.sistema-module.html">views.sistema</a>)</span></td>
<td width="33%" class="link-index">&nbsp;</td>
</tr>
</table>
</td></tr>
<tr valign="top"><td valign="top" width="1%"><h2 class="epydoc"><a name="I">I</a></h2></td>
<td valign="top">
<table class="link-index" width="100%" border="1">
<tr>
<td width="33%" class="link-index"><a href="views.gestion-module.html#impactoProyecto">impactoProyecto()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.ingreso-module.html#index">index()</a><br />
<span class="index-where">(in&nbsp;<a href="views.ingreso-module.html">views.ingreso</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#initFase">initFase()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.gestion-module.html#importarFase">importarFase()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.ingreso-module.html">ingreso</a><br />
<span class="index-where">(in&nbsp;<a href="views-module.html">views</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#initProject">initProject()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
</tr>
</table>
</td></tr>
<tr valign="top"><td valign="top" width="1%"><h2 class="epydoc"><a name="L">L</a></h2></td>
<td valign="top">
<table class="link-index" width="100%" border="1">
<tr>
<td width="33%" class="link-index"><a href="views.administracion-module.html#listAtrib">listAtrib()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#listItemG">listItemG()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#listTipoDeItem">listTipoDeItem()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.administracion-module.html#listComiteProyecto">listComiteProyecto()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.administracion-module.html#listProject">listProject()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.administracion-module.html#listUser">listUser()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.gestion-module.html#listFases">listFases()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#listProjectP">listProjectP()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#listUserComite">listUserComite()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#listFasesActivasD">listFasesActivasD()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#listRolProyecto">listRolProyecto()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#listUserProyecto">listUserProyecto()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.gestion-module.html#listFasesActivasG">listFasesActivasG()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#listSolicitudes">listSolicitudes()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
<td width="33%" class="link-index"><a href="views.ingreso-module.html#login">login()</a><br />
<span class="index-where">(in&nbsp;<a href="views.ingreso-module.html">views.ingreso</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#listItem">listItem()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#listSolicitudesG">listSolicitudesG()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.ingreso-module.html#logout">logout()</a><br />
<span class="index-where">(in&nbsp;<a href="views.ingreso-module.html">views.ingreso</a>)</span></td>
</tr>
</table>
</td></tr>
<tr valign="top"><td valign="top" width="1%"><h2 class="epydoc"><a name="M">M</a></h2></td>
<td valign="top">
<table class="link-index" width="100%" border="1">
<tr>
<td width="33%" class="link-index"><a href="views.ingreso-module.html#misModulos">misModulos()</a><br />
<span class="index-where">(in&nbsp;<a href="views.ingreso-module.html">views.ingreso</a>)</span></td>
<td width="33%" class="link-index"><a href="views.ingreso-module.html#misProyectos">misProyectos()</a><br />
<span class="index-where">(in&nbsp;<a href="views.ingreso-module.html">views.ingreso</a>)</span></td>
<td width="33%" class="link-index">&nbsp;</td>
</tr>
<tr><td class="link-index">&nbsp;</td><td class="link-index">&nbsp;</td><td class="link-index">&nbsp;</td></tr>
</table>
</td></tr>
<tr valign="top"><td valign="top" width="1%"><h2 class="epydoc"><a name="O">O</a></h2></td>
<td valign="top">
<table class="link-index" width="100%" border="1">
<tr>
<td width="33%" class="link-index"><a href="views.gestion-module.html#ordenarFase">ordenarFase()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index">&nbsp;</td>
<td width="33%" class="link-index">&nbsp;</td>
</tr>
<tr><td class="link-index">&nbsp;</td><td class="link-index">&nbsp;</td><td class="link-index">&nbsp;</td></tr>
</table>
</td></tr>
<tr valign="top"><td valign="top" width="1%"><h2 class="epydoc"><a name="R">R</a></h2></td>
<td valign="top">
<table class="link-index" width="100%" border="1">
<tr>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#relacion">relacion()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#reporteItem">reporteItem()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#revivir">revivir()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.gestion-module.html#reporteFaseProject">reporteFaseProject()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#reporteProject">reporteProject()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#revivirItem">revivirItem()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
</tr>
</table>
</td></tr>
<tr valign="top"><td valign="top" width="1%"><h2 class="epydoc"><a name="S">S</a></h2></td>
<td valign="top">
<table class="link-index" width="100%" border="1">
<tr>
<td width="33%" class="link-index"><a href="views.administracion-module.html#showAtrib">showAtrib()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#showLineaBase">showLineaBase()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.administracion-module.html#showUser">showUser()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.administracion-module.html#showComite">showComite()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.administracion-module.html#showProjectPendiente">showProjectPendiente()</a><br />
<span class="index-where">(in&nbsp;<a href="views.administracion-module.html">views.administracion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#showUserComite">showUserComite()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.gestion-module.html#showFase">showFase()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#showRolProyecto">showRolProyecto()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#showUserProyecto">showUserProyecto()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#showItem">showItem()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#showSolicitud">showSolicitud()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
<td width="33%" class="link-index"><a href="views.sistema-module.html">sistema</a><br />
<span class="index-where">(in&nbsp;<a href="views-module.html">views</a>)</span></td>
</tr>
<tr>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#showItemRevivir">showItemRevivir()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
<td width="33%" class="link-index"><a href="views.gestion-module.html#showTipoDeItem">showTipoDeItem()</a><br />
<span class="index-where">(in&nbsp;<a href="views.gestion-module.html">views.gestion</a>)</span></td>
<td width="33%" class="link-index">&nbsp;</td>
</tr>
</table>
</td></tr>
<tr valign="top"><td valign="top" width="1%"><h2 class="epydoc"><a name="V">V</a></h2></td>
<td valign="top">
<table class="link-index" width="100%" border="1">
<tr>
<td width="33%" class="link-index"><a href="views-module.html">views</a></td>
<td width="33%" class="link-index"><a href="views.desarrollo-module.html#votarSolicitud">votarSolicitud()</a><br />
<span class="index-where">(in&nbsp;<a href="views.desarrollo-module.html">views.desarrollo</a>)</span></td>
<td width="33%" class="link-index">&nbsp;</td>
</tr>
<tr><td class="link-index">&nbsp;</td><td class="link-index">&nbsp;</td><td class="link-index">&nbsp;</td></tr>
</table>
</td></tr>
<tr valign="top"><td valign="top" width="1%"><h2 class="epydoc"><a name="_">_</a></h2></td>
<td valign="top">
<table class="link-index" width="100%" border="1">
<tr>
<td width="33%" class="link-index"><a href="views-module.html#__package__">__package__</a><br />
<span class="index-where">(in&nbsp;<a href="views-module.html">views</a>)</span></td>
<td width="33%" class="link-index">&nbsp;</td>
<td width="33%" class="link-index">&nbsp;</td>
</tr>
<tr><td class="link-index">&nbsp;</td><td class="link-index">&nbsp;</td><td class="link-index">&nbsp;</td></tr>
</table>
</td></tr>
</table>
<br /><br /><!-- ==================== NAVIGATION BAR ==================== -->
<table class="navbar" border="0" width="100%" cellpadding="0"
       bgcolor="#a0c0ff" cellspacing="0">
  <tr valign="middle">
  <!-- Home link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="views-module.html">Home</a>&nbsp;&nbsp;&nbsp;</th>

  <!-- Tree link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="module-tree.html">Trees</a>&nbsp;&nbsp;&nbsp;</th>

  <!-- Index link -->
      <th bgcolor="#70b0f0" class="navbar-select"
          >&nbsp;&nbsp;&nbsp;Indices&nbsp;&nbsp;&nbsp;</th>

  <!-- Help link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="help.html">Help</a>&nbsp;&nbsp;&nbsp;</th>

      <th class="navbar" width="100%"></th>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%%">
  <tr>
    <td align="left" class="footer">
    Generated by Epydoc 3.0.1 on Fri Dec  6 13:49:09 2013
    </td>
    <td align="right" class="footer">
      <a target="mainFrame" href="http://epydoc.sourceforge.net"
        >http://epydoc.sourceforge.net</a>
    </td>
  </tr>
</table>

<script type="text/javascript">
  <!--
  // Private objects are initially displayed (because if
  // javascript is turned off then we want them to be
  // visible); but by default, we want to hide them.  So hide
  // them unless we have a cookie that says to show them.
  checkCookie();
  // -->
</script>
</body>
</html>
