<?xml version="1.0" encoding="ascii"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>administracion</title>
  <link rel="stylesheet" href="epydoc.css" type="text/css" />
  <script type="text/javascript" src="epydoc.js"></script>
</head>

<body bgcolor="white" text="black" link="blue" vlink="#204080"
      alink="#204080">
<h1 class="toc">Module administracion</h1>
<hr />
  <h2 class="toc">Functions</h2>
    <a target="mainFrame" href="views.administracion-module.html#addAtrib"
     >addAtrib</a><br />    <a target="mainFrame" href="views.administracion-module.html#addComite"
     >addComite</a><br />    <a target="mainFrame" href="views.administracion-module.html#addProject"
     >addProject</a><br />    <a target="mainFrame" href="views.administracion-module.html#addUser"
     >addUser</a><br />    <a target="mainFrame" href="views.administracion-module.html#deleteAtrib"
     >deleteAtrib</a><br />    <a target="mainFrame" href="views.administracion-module.html#deleteProject"
     >deleteProject</a><br />    <a target="mainFrame" href="views.administracion-module.html#deleteUser"
     >deleteUser</a><br />    <a target="mainFrame" href="views.administracion-module.html#descargar"
     >descargar</a><br />    <a target="mainFrame" href="views.administracion-module.html#descargarProyecto"
     >descargarProyecto</a><br />    <a target="mainFrame" href="views.administracion-module.html#descargarUser"
     >descargarUser</a><br />    <a target="mainFrame" href="views.administracion-module.html#editAtrib"
     >editAtrib</a><br />    <a target="mainFrame" href="views.administracion-module.html#editComite"
     >editComite</a><br />    <a target="mainFrame" href="views.administracion-module.html#editProject"
     >editProject</a><br />    <a target="mainFrame" href="views.administracion-module.html#editProjectState"
     >editProjectState</a><br />    <a target="mainFrame" href="views.administracion-module.html#editState"
     >editState</a><br />    <a target="mainFrame" href="views.administracion-module.html#editUser"
     >editUser</a><br />    <a target="mainFrame" href="views.administracion-module.html#listAtrib"
     >listAtrib</a><br />    <a target="mainFrame" href="views.administracion-module.html#listComiteProyecto"
     >listComiteProyecto</a><br />    <a target="mainFrame" href="views.administracion-module.html#listProject"
     >listProject</a><br />    <a target="mainFrame" href="views.administracion-module.html#listUser"
     >listUser</a><br />    <a target="mainFrame" href="views.administracion-module.html#showAtrib"
     >showAtrib</a><br />    <a target="mainFrame" href="views.administracion-module.html#showComite"
     >showComite</a><br />    <a target="mainFrame" href="views.administracion-module.html#showProjectPendiente"
     >showProjectPendiente</a><br />    <a target="mainFrame" href="views.administracion-module.html#showUser"
     >showUser</a><br /><hr />
<span class="options">[<a href="javascript:void(0);" class="privatelink"
    onclick="toggle_private();">hide&nbsp;private</a>]</span>

<script type="text/javascript">
  <!--
  // Private objects are initially displayed (because if
  // javascript is turned off then we want them to be
  // visible); but by default, we want to hide them.  So hide
  // them unless we have a cookie that says to show them.
  checkCookie();
  // -->
</script>
</body>
</html>
