<?xml version="1.0" encoding="ascii"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>desarrollo</title>
  <link rel="stylesheet" href="epydoc.css" type="text/css" />
  <script type="text/javascript" src="epydoc.js"></script>
</head>

<body bgcolor="white" text="black" link="blue" vlink="#204080"
      alink="#204080">
<h1 class="toc">Module desarrollo</h1>
<hr />
  <h2 class="toc">Functions</h2>
    <a target="mainFrame" href="views.desarrollo-module.html#addItem"
     >addItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#addSolicitud"
     >addSolicitud</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#admItem"
     >admItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#deleteItem"
     >deleteItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#desReporte"
     >desReporte</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#editItem"
     >editItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#editItemState"
     >editItemState</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#ejecutarSolicitud"
     >ejecutarSolicitud</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#graficarItem"
     >graficarItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#listFasesActivasD"
     >listFasesActivasD</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#listItem"
     >listItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#listSolicitudes"
     >listSolicitudes</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#relacion"
     >relacion</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#reporteItem"
     >reporteItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#revivir"
     >revivir</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#revivirItem"
     >revivirItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#showItem"
     >showItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#showItemRevivir"
     >showItemRevivir</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#showSolicitud"
     >showSolicitud</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#votarSolicitud"
     >votarSolicitud</a><br /><hr />
<span class="options">[<a href="javascript:void(0);" class="privatelink"
    onclick="toggle_private();">hide&nbsp;private</a>]</span>

<script type="text/javascript">
  <!--
  // Private objects are initially displayed (because if
  // javascript is turned off then we want them to be
  // visible); but by default, we want to hide them.  So hide
  // them unless we have a cookie that says to show them.
  checkCookie();
  // -->
</script>
</body>
</html>
