<?xml version="1.0" encoding="ascii"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Everything</title>
  <link rel="stylesheet" href="epydoc.css" type="text/css" />
  <script type="text/javascript" src="epydoc.js"></script>
</head>

<body bgcolor="white" text="black" link="blue" vlink="#204080"
      alink="#204080">
<h1 class="toc">Everything</h1>
<hr />
  <h2 class="toc">All Functions</h2>
    <a target="mainFrame" href="views.administracion-module.html#addAtrib"
     >views.administracion.addAtrib</a><br />    <a target="mainFrame" href="views.administracion-module.html#addComite"
     >views.administracion.addComite</a><br />    <a target="mainFrame" href="views.administracion-module.html#addProject"
     >views.administracion.addProject</a><br />    <a target="mainFrame" href="views.administracion-module.html#addUser"
     >views.administracion.addUser</a><br />    <a target="mainFrame" href="views.administracion-module.html#deleteAtrib"
     >views.administracion.deleteAtrib</a><br />    <a target="mainFrame" href="views.administracion-module.html#deleteProject"
     >views.administracion.deleteProject</a><br />    <a target="mainFrame" href="views.administracion-module.html#deleteUser"
     >views.administracion.deleteUser</a><br />    <a target="mainFrame" href="views.administracion-module.html#descargar"
     >views.administracion.descargar</a><br />    <a target="mainFrame" href="views.administracion-module.html#descargarProyecto"
     >views.administracion.descargarProyecto</a><br />    <a target="mainFrame" href="views.administracion-module.html#descargarUser"
     >views.administracion.descargarUser</a><br />    <a target="mainFrame" href="views.administracion-module.html#editAtrib"
     >views.administracion.editAtrib</a><br />    <a target="mainFrame" href="views.administracion-module.html#editComite"
     >views.administracion.editComite</a><br />    <a target="mainFrame" href="views.administracion-module.html#editProject"
     >views.administracion.editProject</a><br />    <a target="mainFrame" href="views.administracion-module.html#editProjectState"
     >views.administracion.editProjectState</a><br />    <a target="mainFrame" href="views.administracion-module.html#editState"
     >views.administracion.editState</a><br />    <a target="mainFrame" href="views.administracion-module.html#editUser"
     >views.administracion.editUser</a><br />    <a target="mainFrame" href="views.administracion-module.html#listAtrib"
     >views.administracion.listAtrib</a><br />    <a target="mainFrame" href="views.administracion-module.html#listComiteProyecto"
     >views.administracion.listComiteProyecto</a><br />    <a target="mainFrame" href="views.administracion-module.html#listProject"
     >views.administracion.listProject</a><br />    <a target="mainFrame" href="views.administracion-module.html#listUser"
     >views.administracion.listUser</a><br />    <a target="mainFrame" href="views.administracion-module.html#showAtrib"
     >views.administracion.showAtrib</a><br />    <a target="mainFrame" href="views.administracion-module.html#showComite"
     >views.administracion.showComite</a><br />    <a target="mainFrame" href="views.administracion-module.html#showProjectPendiente"
     >views.administracion.showProjectPendiente</a><br />    <a target="mainFrame" href="views.administracion-module.html#showUser"
     >views.administracion.showUser</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#addItem"
     >views.desarrollo.addItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#addSolicitud"
     >views.desarrollo.addSolicitud</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#admItem"
     >views.desarrollo.admItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#deleteItem"
     >views.desarrollo.deleteItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#desReporte"
     >views.desarrollo.desReporte</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#editItem"
     >views.desarrollo.editItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#editItemState"
     >views.desarrollo.editItemState</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#ejecutarSolicitud"
     >views.desarrollo.ejecutarSolicitud</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#graficarItem"
     >views.desarrollo.graficarItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#listFasesActivasD"
     >views.desarrollo.listFasesActivasD</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#listItem"
     >views.desarrollo.listItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#listSolicitudes"
     >views.desarrollo.listSolicitudes</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#relacion"
     >views.desarrollo.relacion</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#reporteItem"
     >views.desarrollo.reporteItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#revivir"
     >views.desarrollo.revivir</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#revivirItem"
     >views.desarrollo.revivirItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#showItem"
     >views.desarrollo.showItem</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#showItemRevivir"
     >views.desarrollo.showItemRevivir</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#showSolicitud"
     >views.desarrollo.showSolicitud</a><br />    <a target="mainFrame" href="views.desarrollo-module.html#votarSolicitud"
     >views.desarrollo.votarSolicitud</a><br />    <a target="mainFrame" href="views.gestion-module.html#addFase"
     >views.gestion.addFase</a><br />    <a target="mainFrame" href="views.gestion-module.html#addLineaBase"
     >views.gestion.addLineaBase</a><br />    <a target="mainFrame" href="views.gestion-module.html#addRolProyecto"
     >views.gestion.addRolProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#addTipoDeItem"
     >views.gestion.addTipoDeItem</a><br />    <a target="mainFrame" href="views.gestion-module.html#addUserComite"
     >views.gestion.addUserComite</a><br />    <a target="mainFrame" href="views.gestion-module.html#addUserProyecto"
     >views.gestion.addUserProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#costoProyecto"
     >views.gestion.costoProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#deleteFase"
     >views.gestion.deleteFase</a><br />    <a target="mainFrame" href="views.gestion-module.html#deleteLineaBase"
     >views.gestion.deleteLineaBase</a><br />    <a target="mainFrame" href="views.gestion-module.html#deleteRolProyecto"
     >views.gestion.deleteRolProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#deleteTipoDeItem"
     >views.gestion.deleteTipoDeItem</a><br />    <a target="mainFrame" href="views.gestion-module.html#desasignarUsuarioDeComite"
     >views.gestion.desasignarUsuarioDeComite</a><br />    <a target="mainFrame" href="views.gestion-module.html#desasignarUsuarioDeProyecto"
     >views.gestion.desasignarUsuarioDeProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#editFase"
     >views.gestion.editFase</a><br />    <a target="mainFrame" href="views.gestion-module.html#editFaseState"
     >views.gestion.editFaseState</a><br />    <a target="mainFrame" href="views.gestion-module.html#editLineaBase"
     >views.gestion.editLineaBase</a><br />    <a target="mainFrame" href="views.gestion-module.html#editRolProyecto"
     >views.gestion.editRolProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#editStateLineaBase"
     >views.gestion.editStateLineaBase</a><br />    <a target="mainFrame" href="views.gestion-module.html#editTipoDeItem"
     >views.gestion.editTipoDeItem</a><br />    <a target="mainFrame" href="views.gestion-module.html#finFase"
     >views.gestion.finFase</a><br />    <a target="mainFrame" href="views.gestion-module.html#finProject"
     >views.gestion.finProject</a><br />    <a target="mainFrame" href="views.gestion-module.html#gesLB"
     >views.gestion.gesLB</a><br />    <a target="mainFrame" href="views.gestion-module.html#gesProyecto"
     >views.gestion.gesProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#impactoProyecto"
     >views.gestion.impactoProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#importarFase"
     >views.gestion.importarFase</a><br />    <a target="mainFrame" href="views.gestion-module.html#initFase"
     >views.gestion.initFase</a><br />    <a target="mainFrame" href="views.gestion-module.html#initProject"
     >views.gestion.initProject</a><br />    <a target="mainFrame" href="views.gestion-module.html#listFases"
     >views.gestion.listFases</a><br />    <a target="mainFrame" href="views.gestion-module.html#listFasesActivasG"
     >views.gestion.listFasesActivasG</a><br />    <a target="mainFrame" href="views.gestion-module.html#listItemG"
     >views.gestion.listItemG</a><br />    <a target="mainFrame" href="views.gestion-module.html#listProjectP"
     >views.gestion.listProjectP</a><br />    <a target="mainFrame" href="views.gestion-module.html#listRolProyecto"
     >views.gestion.listRolProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#listSolicitudesG"
     >views.gestion.listSolicitudesG</a><br />    <a target="mainFrame" href="views.gestion-module.html#listTipoDeItem"
     >views.gestion.listTipoDeItem</a><br />    <a target="mainFrame" href="views.gestion-module.html#listUserComite"
     >views.gestion.listUserComite</a><br />    <a target="mainFrame" href="views.gestion-module.html#listUserProyecto"
     >views.gestion.listUserProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#ordenarFase"
     >views.gestion.ordenarFase</a><br />    <a target="mainFrame" href="views.gestion-module.html#reporteFaseProject"
     >views.gestion.reporteFaseProject</a><br />    <a target="mainFrame" href="views.gestion-module.html#reporteProject"
     >views.gestion.reporteProject</a><br />    <a target="mainFrame" href="views.gestion-module.html#showFase"
     >views.gestion.showFase</a><br />    <a target="mainFrame" href="views.gestion-module.html#showLineaBase"
     >views.gestion.showLineaBase</a><br />    <a target="mainFrame" href="views.gestion-module.html#showRolProyecto"
     >views.gestion.showRolProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#showTipoDeItem"
     >views.gestion.showTipoDeItem</a><br />    <a target="mainFrame" href="views.gestion-module.html#showUserComite"
     >views.gestion.showUserComite</a><br />    <a target="mainFrame" href="views.gestion-module.html#showUserProyecto"
     >views.gestion.showUserProyecto</a><br />    <a target="mainFrame" href="views.ingreso-module.html#check_user_status"
     >views.ingreso.check_user_status</a><br />    <a target="mainFrame" href="views.ingreso-module.html#index"
     >views.ingreso.index</a><br />    <a target="mainFrame" href="views.ingreso-module.html#login"
     >views.ingreso.login</a><br />    <a target="mainFrame" href="views.ingreso-module.html#logout"
     >views.ingreso.logout</a><br />    <a target="mainFrame" href="views.ingreso-module.html#misModulos"
     >views.ingreso.misModulos</a><br />    <a target="mainFrame" href="views.ingreso-module.html#misProyectos"
     >views.ingreso.misProyectos</a><br />    <a target="mainFrame" href="views.sistema-module.html#administracion"
     >views.sistema.administracion</a><br />    <a target="mainFrame" href="views.sistema-module.html#desarrollo"
     >views.sistema.desarrollo</a><br />    <a target="mainFrame" href="views.sistema-module.html#gestion"
     >views.sistema.gestion</a><br />  <h2 class="toc">All Variables</h2>
    <a target="mainFrame" href="views-module.html#__package__"
     >views.__package__</a><br /><hr />
<span class="options">[<a href="javascript:void(0);" class="privatelink"
    onclick="toggle_private();">hide&nbsp;private</a>]</span>

<script type="text/javascript">
  <!--
  // Private objects are initially displayed (because if
  // javascript is turned off then we want them to be
  // visible); but by default, we want to hide them.  So hide
  // them unless we have a cookie that says to show them.
  checkCookie();
  // -->
</script>
</body>
</html>
