<?xml version="1.0" encoding="ascii"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>gestion</title>
  <link rel="stylesheet" href="epydoc.css" type="text/css" />
  <script type="text/javascript" src="epydoc.js"></script>
</head>

<body bgcolor="white" text="black" link="blue" vlink="#204080"
      alink="#204080">
<h1 class="toc">Module gestion</h1>
<hr />
  <h2 class="toc">Functions</h2>
    <a target="mainFrame" href="views.gestion-module.html#addFase"
     >addFase</a><br />    <a target="mainFrame" href="views.gestion-module.html#addLineaBase"
     >addLineaBase</a><br />    <a target="mainFrame" href="views.gestion-module.html#addRolProyecto"
     >addRolProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#addTipoDeItem"
     >addTipoDeItem</a><br />    <a target="mainFrame" href="views.gestion-module.html#addUserComite"
     >addUserComite</a><br />    <a target="mainFrame" href="views.gestion-module.html#addUserProyecto"
     >addUserProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#costoProyecto"
     >costoProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#deleteFase"
     >deleteFase</a><br />    <a target="mainFrame" href="views.gestion-module.html#deleteLineaBase"
     >deleteLineaBase</a><br />    <a target="mainFrame" href="views.gestion-module.html#deleteRolProyecto"
     >deleteRolProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#deleteTipoDeItem"
     >deleteTipoDeItem</a><br />    <a target="mainFrame" href="views.gestion-module.html#desasignarUsuarioDeComite"
     >desasignarUsuarioDeComite</a><br />    <a target="mainFrame" href="views.gestion-module.html#desasignarUsuarioDeProyecto"
     >desasignarUsuarioDeProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#editFase"
     >editFase</a><br />    <a target="mainFrame" href="views.gestion-module.html#editFaseState"
     >editFaseState</a><br />    <a target="mainFrame" href="views.gestion-module.html#editLineaBase"
     >editLineaBase</a><br />    <a target="mainFrame" href="views.gestion-module.html#editRolProyecto"
     >editRolProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#editStateLineaBase"
     >editStateLineaBase</a><br />    <a target="mainFrame" href="views.gestion-module.html#editTipoDeItem"
     >editTipoDeItem</a><br />    <a target="mainFrame" href="views.gestion-module.html#finFase"
     >finFase</a><br />    <a target="mainFrame" href="views.gestion-module.html#finProject"
     >finProject</a><br />    <a target="mainFrame" href="views.gestion-module.html#gesLB"
     >gesLB</a><br />    <a target="mainFrame" href="views.gestion-module.html#gesProyecto"
     >gesProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#impactoProyecto"
     >impactoProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#importarFase"
     >importarFase</a><br />    <a target="mainFrame" href="views.gestion-module.html#initFase"
     >initFase</a><br />    <a target="mainFrame" href="views.gestion-module.html#initProject"
     >initProject</a><br />    <a target="mainFrame" href="views.gestion-module.html#listFases"
     >listFases</a><br />    <a target="mainFrame" href="views.gestion-module.html#listFasesActivasG"
     >listFasesActivasG</a><br />    <a target="mainFrame" href="views.gestion-module.html#listItemG"
     >listItemG</a><br />    <a target="mainFrame" href="views.gestion-module.html#listProjectP"
     >listProjectP</a><br />    <a target="mainFrame" href="views.gestion-module.html#listRolProyecto"
     >listRolProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#listSolicitudesG"
     >listSolicitudesG</a><br />    <a target="mainFrame" href="views.gestion-module.html#listTipoDeItem"
     >listTipoDeItem</a><br />    <a target="mainFrame" href="views.gestion-module.html#listUserComite"
     >listUserComite</a><br />    <a target="mainFrame" href="views.gestion-module.html#listUserProyecto"
     >listUserProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#ordenarFase"
     >ordenarFase</a><br />    <a target="mainFrame" href="views.gestion-module.html#reporteFaseProject"
     >reporteFaseProject</a><br />    <a target="mainFrame" href="views.gestion-module.html#reporteProject"
     >reporteProject</a><br />    <a target="mainFrame" href="views.gestion-module.html#showFase"
     >showFase</a><br />    <a target="mainFrame" href="views.gestion-module.html#showLineaBase"
     >showLineaBase</a><br />    <a target="mainFrame" href="views.gestion-module.html#showRolProyecto"
     >showRolProyecto</a><br />    <a target="mainFrame" href="views.gestion-module.html#showTipoDeItem"
     >showTipoDeItem</a><br />    <a target="mainFrame" href="views.gestion-module.html#showUserComite"
     >showUserComite</a><br />    <a target="mainFrame" href="views.gestion-module.html#showUserProyecto"
     >showUserProyecto</a><br /><hr />
<span class="options">[<a href="javascript:void(0);" class="privatelink"
    onclick="toggle_private();">hide&nbsp;private</a>]</span>

<script type="text/javascript">
  <!--
  // Private objects are initially displayed (because if
  // javascript is turned off then we want them to be
  // visible); but by default, we want to hide them.  So hide
  // them unless we have a cookie that says to show them.
  checkCookie();
  // -->
</script>
</body>
</html>
