<?xml version="1.0" encoding="ascii"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>views.desarrollo</title>
  <link rel="stylesheet" href="epydoc.css" type="text/css" />
  <script type="text/javascript" src="epydoc.js"></script>
</head>

<body bgcolor="white" text="black" link="blue" vlink="#204080"
      alink="#204080">
<!-- ==================== NAVIGATION BAR ==================== -->
<table class="navbar" border="0" width="100%" cellpadding="0"
       bgcolor="#a0c0ff" cellspacing="0">
  <tr valign="middle">
  <!-- Home link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="views-module.html">Home</a>&nbsp;&nbsp;&nbsp;</th>

  <!-- Tree link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="module-tree.html">Trees</a>&nbsp;&nbsp;&nbsp;</th>

  <!-- Index link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="identifier-index.html">Indices</a>&nbsp;&nbsp;&nbsp;</th>

  <!-- Help link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="help.html">Help</a>&nbsp;&nbsp;&nbsp;</th>

      <th class="navbar" width="100%"></th>
  </tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td width="100%">
      <span class="breadcrumbs">
        <a href="views-module.html">Package&nbsp;views</a> ::
        Module&nbsp;desarrollo
      </span>
    </td>
    <td>
      <table cellpadding="0" cellspacing="0">
        <!-- hide/show private -->
        <tr><td align="right"><span class="options">[<a href="javascript:void(0);" class="privatelink"
    onclick="toggle_private();">hide&nbsp;private</a>]</span></td></tr>
        <tr><td align="right"><span class="options"
            >[<a href="frames.html" target="_top">frames</a
            >]&nbsp;|&nbsp;<a href="views.desarrollo-module.html"
            target="_top">no&nbsp;frames</a>]</span></td></tr>
      </table>
    </td>
  </tr>
</table>
<!-- ==================== MODULE DESCRIPTION ==================== -->
<h1 class="epydoc">Module desarrollo</h1><p class="nomargin-top"><span class="codelink"><a href="views.desarrollo-pysrc.html">source&nbsp;code</a></span></p>
<!-- ==================== FUNCTIONS ==================== -->
<a name="section-Functions"></a>
<table class="summary" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr bgcolor="#70b0f0" class="table-header">
  <td colspan="2" class="table-header">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr valign="top">
        <td align="left"><span class="table-header">Functions</span></td>
        <td align="right" valign="top"
         ><span class="options">[<a href="#section-Functions"
         class="privatelink" onclick="toggle_private();"
         >hide private</a>]</span></td>
      </tr>
    </table>
  </td>
</tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#listFasesActivasD" class="summary-sig-name">listFasesActivasD</a>()</span></td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#listFasesActivasD">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#admItem" class="summary-sig-name">admItem</a>(<span class="summary-sig-arg">idFase</span>)</span></td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#admItem">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#listItem" class="summary-sig-name">listItem</a>(<span class="summary-sig-arg">idFase</span>)</span><br />
      Lista los datos de un item</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#listItem">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#addItem" class="summary-sig-name">addItem</a>(<span class="summary-sig-arg">idFase</span>)</span><br />
      Controlador para crear item</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#addItem">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#showItem" class="summary-sig-name">showItem</a>(<span class="summary-sig-arg">idItem</span>)</span><br />
      Muestra un formulario no editable del item con las opciones de 
      modificar, eliminar item</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#showItem">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#editItem" class="summary-sig-name">editItem</a>(<span class="summary-sig-arg">idItem</span>)</span><br />
      Modifica los datos de un item</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#editItem">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#deleteItem" class="summary-sig-name">deleteItem</a>(<span class="summary-sig-arg">idItem</span>)</span><br />
      Elimina un item</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#deleteItem">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#editItemState" class="summary-sig-name">editItemState</a>(<span class="summary-sig-arg">idItem</span>)</span><br />
      Modifica el estado de un usuario</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#editItemState">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#revivirItem" class="summary-sig-name">revivirItem</a>(<span class="summary-sig-arg">idFase</span>)</span><br />
      Lista los datos de un de item ELIMINADO</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#revivirItem">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#showItemRevivir" class="summary-sig-name">showItemRevivir</a>(<span class="summary-sig-arg">idItem</span>)</span><br />
      Muestra un formulario no editable del item con las opciones de 
      modificar, eliminar item</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#showItemRevivir">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#revivir" class="summary-sig-name">revivir</a>(<span class="summary-sig-arg">idItem</span>)</span><br />
      Revive un Item</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#revivir">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#relacion" class="summary-sig-name">relacion</a>(<span class="summary-sig-arg">idItem</span>)</span><br />
      Funcion para relacionar los items</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#relacion">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#graficarItem" class="summary-sig-name">graficarItem</a>(<span class="summary-sig-arg">idItem</span>)</span></td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#graficarItem">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#listSolicitudes" class="summary-sig-name">listSolicitudes</a>()</span></td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#listSolicitudes">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#showSolicitud" class="summary-sig-name">showSolicitud</a>(<span class="summary-sig-arg">idSolicitud</span>)</span><br />
      Muestra un formulario no editable del item con las opciones de 
      modificar, eliminar item</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#showSolicitud">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#ejecutarSolicitud" class="summary-sig-name">ejecutarSolicitud</a>(<span class="summary-sig-arg">idSolicitud</span>)</span></td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#ejecutarSolicitud">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#votarSolicitud" class="summary-sig-name">votarSolicitud</a>(<span class="summary-sig-arg">idSolicitud</span>)</span></td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#votarSolicitud">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#addSolicitud" class="summary-sig-name">addSolicitud</a>()</span><br />
      Agrega una Solicitud</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#addSolicitud">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#desReporte" class="summary-sig-name">desReporte</a>()</span></td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#desReporte">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.desarrollo-module.html#reporteItem" class="summary-sig-name">reporteItem</a>()</span></td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.desarrollo-pysrc.html#reporteItem">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
</table>
<!-- ==================== FUNCTION DETAILS ==================== -->
<a name="section-FunctionDetails"></a>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr bgcolor="#70b0f0" class="table-header">
  <td colspan="2" class="table-header">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr valign="top">
        <td align="left"><span class="table-header">Function Details</span></td>
        <td align="right" valign="top"
         ><span class="options">[<a href="#section-FunctionDetails"
         class="privatelink" onclick="toggle_private();"
         >hide private</a>]</span></td>
      </tr>
    </table>
  </td>
</tr>
</table>
<a name="listFasesActivasD"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">listFasesActivasD</span>()</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#listFasesActivasD">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/listFasesActivasD', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="admItem"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">admItem</span>(<span class="sig-arg">idFase</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#admItem">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/admItem/<path:idFase>.html')</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="listItem"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">listItem</span>(<span class="sig-arg">idFase</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#listItem">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Lista los datos de un item</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/listItem/<path:idFase>.html')</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="addItem"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">addItem</span>(<span class="sig-arg">idFase</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#addItem">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Controlador para crear item</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/addItem/<path:idFase>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="showItem"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">showItem</span>(<span class="sig-arg">idItem</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#showItem">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Muestra un formulario no editable del item con las opciones de 
  modificar, eliminar item</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/showItem/<path:idItem>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="editItem"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">editItem</span>(<span class="sig-arg">idItem</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#editItem">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Modifica los datos de un item</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/editItem/<path:idItem>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="deleteItem"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">deleteItem</span>(<span class="sig-arg">idItem</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#deleteItem">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Elimina un item</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/deleteItem/<path:idItem>.html')</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="editItemState"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">editItemState</span>(<span class="sig-arg">idItem</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#editItemState">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Modifica el estado de un usuario</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/editItemState/<path:idItem>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="revivirItem"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">revivirItem</span>(<span class="sig-arg">idFase</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#revivirItem">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Lista los datos de un de item ELIMINADO</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/revivirItem<path:idFase>.html')</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="showItemRevivir"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">showItemRevivir</span>(<span class="sig-arg">idItem</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#showItemRevivir">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Muestra un formulario no editable del item con las opciones de 
  modificar, eliminar item</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/showItemRevivir/<path:idItem>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="revivir"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">revivir</span>(<span class="sig-arg">idItem</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#revivir">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Revive un Item</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/revivir/<path:idItem>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="relacion"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">relacion</span>(<span class="sig-arg">idItem</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#relacion">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Funcion para relacionar los items</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/relacion/<path:idItem>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="graficarItem"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">graficarItem</span>(<span class="sig-arg">idItem</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#graficarItem">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/graficarItem/<path:idItem>.html')</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="listSolicitudes"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">listSolicitudes</span>()</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#listSolicitudes">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/listSolicitudes', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="showSolicitud"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">showSolicitud</span>(<span class="sig-arg">idSolicitud</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#showSolicitud">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Muestra un formulario no editable del item con las opciones de 
  modificar, eliminar item</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/showSolicitud/<path:idSolicitud>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="ejecutarSolicitud"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">ejecutarSolicitud</span>(<span class="sig-arg">idSolicitud</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#ejecutarSolicitud">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/ejecutarSolicitud/<path:idSolicitud>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="votarSolicitud"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">votarSolicitud</span>(<span class="sig-arg">idSolicitud</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#votarSolicitud">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/votarSolicitud/<path:idSolicitud>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="addSolicitud"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">addSolicitud</span>()</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#addSolicitud">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Agrega una Solicitud</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/addSolicitud', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="desReporte"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">desReporte</span>()</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#desReporte">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/desReporte', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="reporteItem"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">reporteItem</span>()</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.desarrollo-pysrc.html#reporteItem">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/reporteItem', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<br />
<!-- ==================== NAVIGATION BAR ==================== -->
<table class="navbar" border="0" width="100%" cellpadding="0"
       bgcolor="#a0c0ff" cellspacing="0">
  <tr valign="middle">
  <!-- Home link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="views-module.html">Home</a>&nbsp;&nbsp;&nbsp;</th>

  <!-- Tree link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="module-tree.html">Trees</a>&nbsp;&nbsp;&nbsp;</th>

  <!-- Index link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="identifier-index.html">Indices</a>&nbsp;&nbsp;&nbsp;</th>

  <!-- Help link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="help.html">Help</a>&nbsp;&nbsp;&nbsp;</th>

      <th class="navbar" width="100%"></th>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%%">
  <tr>
    <td align="left" class="footer">
    Generated by Epydoc 3.0.1 on Fri Dec  6 13:49:09 2013
    </td>
    <td align="right" class="footer">
      <a target="mainFrame" href="http://epydoc.sourceforge.net"
        >http://epydoc.sourceforge.net</a>
    </td>
  </tr>
</table>

<script type="text/javascript">
  <!--
  // Private objects are initially displayed (because if
  // javascript is turned off then we want them to be
  // visible); but by default, we want to hide them.  So hide
  // them unless we have a cookie that says to show them.
  checkCookie();
  // -->
</script>
</body>
</html>
