<?xml version="1.0" encoding="ascii"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>views.administracion</title>
  <link rel="stylesheet" href="epydoc.css" type="text/css" />
  <script type="text/javascript" src="epydoc.js"></script>
</head>

<body bgcolor="white" text="black" link="blue" vlink="#204080"
      alink="#204080">
<!-- ==================== NAVIGATION BAR ==================== -->
<table class="navbar" border="0" width="100%" cellpadding="0"
       bgcolor="#a0c0ff" cellspacing="0">
  <tr valign="middle">
  <!-- Home link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="views-module.html">Home</a>&nbsp;&nbsp;&nbsp;</th>

  <!-- Tree link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="module-tree.html">Trees</a>&nbsp;&nbsp;&nbsp;</th>

  <!-- Index link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="identifier-index.html">Indices</a>&nbsp;&nbsp;&nbsp;</th>

  <!-- Help link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="help.html">Help</a>&nbsp;&nbsp;&nbsp;</th>

      <th class="navbar" width="100%"></th>
  </tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td width="100%">
      <span class="breadcrumbs">
        <a href="views-module.html">Package&nbsp;views</a> ::
        Module&nbsp;administracion
      </span>
    </td>
    <td>
      <table cellpadding="0" cellspacing="0">
        <!-- hide/show private -->
        <tr><td align="right"><span class="options">[<a href="javascript:void(0);" class="privatelink"
    onclick="toggle_private();">hide&nbsp;private</a>]</span></td></tr>
        <tr><td align="right"><span class="options"
            >[<a href="frames.html" target="_top">frames</a
            >]&nbsp;|&nbsp;<a href="views.administracion-module.html"
            target="_top">no&nbsp;frames</a>]</span></td></tr>
      </table>
    </td>
  </tr>
</table>
<!-- ==================== MODULE DESCRIPTION ==================== -->
<h1 class="epydoc">Module administracion</h1><p class="nomargin-top"><span class="codelink"><a href="views.administracion-pysrc.html">source&nbsp;code</a></span></p>
<!-- ==================== FUNCTIONS ==================== -->
<a name="section-Functions"></a>
<table class="summary" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr bgcolor="#70b0f0" class="table-header">
  <td colspan="2" class="table-header">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr valign="top">
        <td align="left"><span class="table-header">Functions</span></td>
        <td align="right" valign="top"
         ><span class="options">[<a href="#section-Functions"
         class="privatelink" onclick="toggle_private();"
         >hide private</a>]</span></td>
      </tr>
    </table>
  </td>
</tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#descargarUser" class="summary-sig-name">descargarUser</a>()</span></td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#descargarUser">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#descargarProyecto" class="summary-sig-name">descargarProyecto</a>()</span></td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#descargarProyecto">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#listProject" class="summary-sig-name">listProject</a>()</span><br />
      Lista los Proyectos Pendientes y Finalizados</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#listProject">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#showProjectPendiente" class="summary-sig-name">showProjectPendiente</a>(<span class="summary-sig-arg">idProyecto</span>)</span><br />
      Muestra un proyecto con estado pendiente</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#showProjectPendiente">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#editProject" class="summary-sig-name">editProject</a>(<span class="summary-sig-arg">idProyecto</span>)</span><br />
      Modifica un proyecto</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#editProject">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#editProjectState" class="summary-sig-name">editProjectState</a>(<span class="summary-sig-arg">idProyecto</span>)</span><br />
      Modifica el estado del Proyecto</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#editProjectState">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#addProject" class="summary-sig-name">addProject</a>()</span><br />
      Agrega un Proyecto</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#addProject">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#deleteProject" class="summary-sig-name">deleteProject</a>(<span class="summary-sig-arg">idProyecto</span>)</span><br />
      Elimina un proyecto</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#deleteProject">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#listComiteProyecto" class="summary-sig-name">listComiteProyecto</a>(<span class="summary-sig-arg">idProyecto</span>)</span><br />
      Lista los comite del Sistema</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#listComiteProyecto">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#showComite" class="summary-sig-name">showComite</a>(<span class="summary-sig-arg">idProyecto</span>,
        <span class="summary-sig-arg">idComite</span>)</span><br />
      Muestra un Comite</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#showComite">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#editComite" class="summary-sig-name">editComite</a>(<span class="summary-sig-arg">idProyecto</span>,
        <span class="summary-sig-arg">idComite</span>)</span><br />
      Modifica un Comite</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#editComite">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#addComite" class="summary-sig-name">addComite</a>(<span class="summary-sig-arg">idProyecto</span>)</span><br />
      Guarda un comite y asigna al lider del proyecto como usuario del 
      comite</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#addComite">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#listUser" class="summary-sig-name">listUser</a>()</span><br />
      Lista Usuarios Activos del Sistema</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#listUser">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#showUser" class="summary-sig-name">showUser</a>(<span class="summary-sig-arg">idUser</span>)</span><br />
      Muestra un usuario</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#showUser">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#addUser" class="summary-sig-name">addUser</a>()</span><br />
      Guarda un Usuario</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#addUser">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#deleteUser" class="summary-sig-name">deleteUser</a>(<span class="summary-sig-arg">idUser</span>)</span><br />
      Elimina un usuario</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#deleteUser">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#editState" class="summary-sig-name">editState</a>(<span class="summary-sig-arg">idUser</span>)</span><br />
      Modifica el estado de un usuario</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#editState">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#editUser" class="summary-sig-name">editUser</a>(<span class="summary-sig-arg">idUser</span>)</span><br />
      Modifica los datos de un usuario</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#editUser">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#listAtrib" class="summary-sig-name">listAtrib</a>()</span><br />
      Lista todos los tipos de atributo</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#listAtrib">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#addAtrib" class="summary-sig-name">addAtrib</a>()</span><br />
      Agrega un nuevo tipo de atributo</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#addAtrib">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#showAtrib" class="summary-sig-name">showAtrib</a>(<span class="summary-sig-arg">nombre</span>)</span><br />
      Muestra los datos de un atributo</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#showAtrib">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#editAtrib" class="summary-sig-name">editAtrib</a>(<span class="summary-sig-arg">nombre</span>)</span><br />
      Modifica los datos de un atributo</td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#editAtrib">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#deleteAtrib" class="summary-sig-name">deleteAtrib</a>(<span class="summary-sig-arg">nombre</span>)</span></td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#deleteAtrib">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
<tr>
    <td width="15%" align="right" valign="top" class="summary">
      <span class="summary-type">&nbsp;</span>
    </td><td class="summary">
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td><span class="summary-sig"><a href="views.administracion-module.html#descargar" class="summary-sig-name">descargar</a>(<span class="summary-sig-arg">nombre</span>)</span></td>
          <td align="right" valign="top">
            <span class="codelink"><a href="views.administracion-pysrc.html#descargar">source&nbsp;code</a></span>
            
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
</table>
<!-- ==================== FUNCTION DETAILS ==================== -->
<a name="section-FunctionDetails"></a>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr bgcolor="#70b0f0" class="table-header">
  <td colspan="2" class="table-header">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr valign="top">
        <td align="left"><span class="table-header">Function Details</span></td>
        <td align="right" valign="top"
         ><span class="options">[<a href="#section-FunctionDetails"
         class="privatelink" onclick="toggle_private();"
         >hide private</a>]</span></td>
      </tr>
    </table>
  </td>
</tr>
</table>
<a name="descargarUser"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">descargarUser</span>()</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#descargarUser">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/descargarUser')</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="descargarProyecto"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">descargarProyecto</span>()</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#descargarProyecto">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/descargarProyecto')</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="listProject"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">listProject</span>()</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#listProject">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Lista los Proyectos Pendientes y Finalizados</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/listProject')</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="showProjectPendiente"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">showProjectPendiente</span>(<span class="sig-arg">idProyecto</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#showProjectPendiente">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Muestra un proyecto con estado pendiente</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/showProjectPendiente/<path:idProyecto>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="editProject"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">editProject</span>(<span class="sig-arg">idProyecto</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#editProject">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Modifica un proyecto</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/editProject/<path:idProyecto>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="editProjectState"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">editProjectState</span>(<span class="sig-arg">idProyecto</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#editProjectState">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Modifica el estado del Proyecto</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/editProjectState/<path:idProyecto>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="addProject"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">addProject</span>()</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#addProject">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Agrega un Proyecto</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/addProject', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="deleteProject"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">deleteProject</span>(<span class="sig-arg">idProyecto</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#deleteProject">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Elimina un proyecto</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/deleteProject/<path:idProyecto>.html')</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="listComiteProyecto"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">listComiteProyecto</span>(<span class="sig-arg">idProyecto</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#listComiteProyecto">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Lista los comite del Sistema</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/listComiteProyecto/<path:idProyecto>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="showComite"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">showComite</span>(<span class="sig-arg">idProyecto</span>,
        <span class="sig-arg">idComite</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#showComite">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Muestra un Comite</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/showComite/<path:idProyecto>/<path:idComite>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="editComite"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">editComite</span>(<span class="sig-arg">idProyecto</span>,
        <span class="sig-arg">idComite</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#editComite">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Modifica un Comite</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/editComite/<path:idProyecto>/<path:idComite>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="addComite"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">addComite</span>(<span class="sig-arg">idProyecto</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#addComite">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Guarda un comite y asigna al lider del proyecto como usuario del 
  comite</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/addComite/<path:idProyecto>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="listUser"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">listUser</span>()</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#listUser">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Lista Usuarios Activos del Sistema</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/listUser')</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="showUser"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">showUser</span>(<span class="sig-arg">idUser</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#showUser">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Muestra un usuario</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/showUser/<path:idUser>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="addUser"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">addUser</span>()</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#addUser">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Guarda un Usuario</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/addUser', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="deleteUser"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">deleteUser</span>(<span class="sig-arg">idUser</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#deleteUser">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Elimina un usuario</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/deleteUser/<path:idUser>.html')</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="editState"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">editState</span>(<span class="sig-arg">idUser</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#editState">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Modifica el estado de un usuario</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/edit/<path:idUser>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="editUser"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">editUser</span>(<span class="sig-arg">idUser</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#editUser">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Modifica los datos de un usuario</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/editUser/<path:idUser>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="listAtrib"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">listAtrib</span>()</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#listAtrib">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Lista todos los tipos de atributo</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/listAtrib')</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="addAtrib"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">addAtrib</span>()</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#addAtrib">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Agrega un nuevo tipo de atributo</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/addAtrib', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="showAtrib"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">showAtrib</span>(<span class="sig-arg">nombre</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#showAtrib">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Muestra los datos de un atributo</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/showAtrib/<path:nombre>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="editAtrib"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">editAtrib</span>(<span class="sig-arg">nombre</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#editAtrib">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  <p>Modifica los datos de un atributo</p>
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/editAtrib/<path:nombre>.html', methods= ['GET', 'POST'])</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="deleteAtrib"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">deleteAtrib</span>(<span class="sig-arg">nombre</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#deleteAtrib">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/deleteAtrib/<path:nombre>.html')</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<a name="descargar"></a>
<div>
<table class="details" border="1" cellpadding="3"
       cellspacing="0" width="100%" bgcolor="white">
<tr><td>
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr valign="top"><td>
  <h3 class="epydoc"><span class="sig"><span class="sig-name">descargar</span>(<span class="sig-arg">nombre</span>)</span>
  </h3>
  </td><td align="right" valign="top"
    ><span class="codelink"><a href="views.administracion-pysrc.html#descargar">source&nbsp;code</a></span>&nbsp;
    </td>
  </tr></table>
  
  
  <dl class="fields">
    <dt>Decorators:</dt>
    <dd><ul class="nomargin-top">
        <li><code>@app.route('/descargar/<path:nombre>.html')</code></li>
    </ul></dd>
  </dl>
</td></tr></table>
</div>
<br />
<!-- ==================== NAVIGATION BAR ==================== -->
<table class="navbar" border="0" width="100%" cellpadding="0"
       bgcolor="#a0c0ff" cellspacing="0">
  <tr valign="middle">
  <!-- Home link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="views-module.html">Home</a>&nbsp;&nbsp;&nbsp;</th>

  <!-- Tree link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="module-tree.html">Trees</a>&nbsp;&nbsp;&nbsp;</th>

  <!-- Index link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="identifier-index.html">Indices</a>&nbsp;&nbsp;&nbsp;</th>

  <!-- Help link -->
      <th>&nbsp;&nbsp;&nbsp;<a
        href="help.html">Help</a>&nbsp;&nbsp;&nbsp;</th>

      <th class="navbar" width="100%"></th>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%%">
  <tr>
    <td align="left" class="footer">
    Generated by Epydoc 3.0.1 on Fri Dec  6 13:49:09 2013
    </td>
    <td align="right" class="footer">
      <a target="mainFrame" href="http://epydoc.sourceforge.net"
        >http://epydoc.sourceforge.net</a>
    </td>
  </tr>
</table>

<script type="text/javascript">
  <!--
  // Private objects are initially displayed (because if
  // javascript is turned off then we want them to be
  // visible); but by default, we want to hide them.  So hide
  // them unless we have a cookie that says to show them.
  checkCookie();
  // -->
</script>
</body>
</html>
